---
title: Articles and Notes
cssId: notes
---

#all-posts
  - posts = Posts.new(data.posts)
  - posts.categories.each do |category|
    .category
      %h1= category.capitalize
      %section.sub-categories
        - posts.tags( category ).each do |tag|
          %h2= tag
          - posts.find_by_tag(tag).each do |post|
            = partial 'layouts/partials/card', :locals => {post: post.last, slug: post.first}
  %a{href: "/"} &#x21AB; Home
