#labs {

    section {
        border:none;
    }

    #header {
        display:none;
    }

    #main {
        width:100%;
    }

    .sub-categories {
        padding:2em 0;
    }

    .lab {
        margin-bottom:4em;
    }

    .title {
        margin-bottom:.4em;
    }

    .mobile {

        img {
            margin:.5em 0 1em;
        }
    }

    img {
        max-width:250px;
        height:auto;
    }

    .date {
        color:#aaa;
        margin:0 0 1em;
        font-weight:normal;
    }
}
