* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#notes {
    .article {
        display:table;
        width:100%;
        padding-bottom:0;

        .title {
            float:left;
        }

        .tags {
            float:right;
            text-align:right;
            width:auto;
            margin:0;
        }
    }

    .sub-categories {

        h2 {

            &:first-child {
                margin-top:0;
            }

            margin-top:1em;
        }
    }
}
#all-posts {
    .tag ,
    .date {
        display:inline-block;
        vertical-align:top;
    }

    .tags {
        font-size:.7em;
        width:50%;

        .tag {
            font-size:1em;
            margin:.25em .5em 0 0;
        }
    }
}

.pic {
    img {
        border-radius:10em;
        margin-right:1em;
    }
}

#view-all {
    padding-left:14px;
}

.category {

    margin-bottom:2em;

    h1 {
        margin-bottom:.5em;
        padding-bottom:.5em;
        border-bottom:1px solid #ddd;
    }  

    h2 {
        margin-bottom:.75em;
    }  

    .article-index {
        width:49%;
        display:inline-block;
        vertical-align:top;
        padding:0 2em 1em 0;

        .title {
            margin-bottom:.5em;
        }
    }
}

.article-item {
    .tags {
        margin-top:.25em;
        display:inline;
    }

    .tags + .tags {
        margin-left:0;

        .tag {
            color:#a1a1a1;
        }
    }

    .tag {
        font-size:.7em;
    }
}

.article {

    .title {
        line-height:1.6;
    }

    .date {
        color:#ddd;
        font-size:.75em;
        margin-bottom:0;
    }
}

#signature {
    font-family:'Pacifico', Gegoria, serif;
    text-align:center;
    font-size:1.2em;
}
#signature a span {
    font-size:1.9em;
}
#posts {
    margin:3em 0;

    .title {
        margin-bottom:.5em;
    }

    .date {
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }
}
.article-item {
    position:relative;
    min-height:80px;
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
    background-size:3px 100%;
    background-repeat:repeat-y;
    background-position:35px center;
}
.article-item:last-child {
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* W3C */
    background-size:3px 100%;
    background-repeat:repeat-y;
    background-position:35px center;
}
.article-item .date {
    position:absolute;
    left:0;
    top:-18px;
    padding:1em;
    border-radius:10em;
    box-shadow:inset -1px -1px 1px white, inset 1px 1px 1px white, 0 0 2px #ccc;
    background-color:#fafafa;
    width:45px;
    text-align:center;
}
.article-item p {
    margin-left:85px;
}
.article-item .title {
    margin-bottom:0;
}
.tag {
    background-color:#f8f8f8;
    border:1px solid #e5e5e5;
    padding:.25em .5em;
}
#footer {
    text-align:center;
    font-size:.75em;
}
