.categories {
    h1 {
        margin-bottom:.5em;
        padding-bottom:.5em;
        border-bottom:1px solid #ddd;
    }  

    h2 {
        margin-bottom:.25em;
    }  

    .article-index {
        width:30%;
        display:inline-block;
        vertical-align:top;
        margin:0 1em 1em 0;

        .title {
            margin-bottom:.5em;
        }
    }
}

.article-item {
    .tags {
        margin-top:.25em;
    }

    .tag {
        font-size:.7em;
    }
}

.article {

    .date {
        color:#999;
        font-size:.75em;
    }
}

#signature {
    font-family:'Pacifico', Gegoria, serif;
    text-align:center;
    font-size:1.2em;
}
#signature a span {
    font-size:1.9em;
}
#posts {
    margin:3em 0;
}
.article-item {
    position:relative;
    min-height:80px;
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%); /* W3C */
    background-size:3px 100%;
    background-repeat:repeat-y;
    background-position:35px center;
}
.article-item:last-child {
    background: rgb(37,141,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,141,200,1) 0%, rgba(37,141,200,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,141,200,1)), color-stop(100%,rgba(37,141,200,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,141,200,1) 0%,rgba(37,141,200,0) 100%); /* W3C */
    background-size:3px 100%;
    background-repeat:repeat-y;
    background-position:35px center;
}
.article-item .date {
    position:absolute;
    left:0;
    top:-18px;
    padding:1em;
    border-radius:10em;
    box-shadow:inset -1px -1px 1px white, inset 1px 1px 1px white, 0 0 2px #ccc;
    background-color:#fafafa;
    width:45px;
    text-align:center;
}
.article-item p {
    margin-left:85px;
}
.article-item .title {
    margin-bottom:0;
}
.tag {
    background-color:#f8f8f8;
    border:1px solid #e5e5e5;
    padding:.25em .5em;
}
