:markdown

   <p>
     <a class="next" href="02.html">Next</a>
   </p>

   # PART I.

   ### On Religion; the Natural and Divine Life; and the exemplification of Divine Love in our blessed Savior.

   my dear friend,

   This designation doth give you a title to all endeavours whereby I can
   serve your interests; and your pious inclinations to do so, happily
   conspire with my duty, that I shall not need to step out of my road to
   gratify you--but I may at once perform an office of friendship, and
   discharge an exercise of my function, since the advancing of virtue and
   holiness, (which I hope you make your greatest study,) is the peculiar
   business of my employment. This, therefore, is the most popular
   instance wherein I can vent my affection, and express my gratitude
   towards you, and I shall not any longer delay the performance of the
   promise I made you to this purpose; for though I know you are provided
   with better helps of this nature than any I can offer you, nor are you
   like to meet with any thing here which you knew not before, yet I am
   hopeful, that what cometh from one whom you are pleased to honour with
   your friendship, and which is more particularly designed for your use,
   will be kindly accepted by you; and God's providence perhaps may so
   direct my thoughts, that something or other may prove useful to you.
   Nor shall I doubt your pardon, if, for moulding my discourse into the
   better frame, I lay a low foundation, beginning with the nature and
   properties of religion, and all along give such way to my thoughts, in
   the prosecution of the subject, as may bring me to say many things
   which were not necessary, did I only consider to whom I am writing.

   I cannot speak of religion, but I must lament, that among so many
   pretenders to it, so few understand what it means: some placing it in
   the understanding, in orthodox notions and opinions; and all the
   account they can give of their religion is, that they are of this and
   the other persuasion, and have joined themselves to one of those many
   sects whereinto Christendom is most unhappily divided. Others place it
   in the outward man, in a constant course of external duties, and a
   model of performances. If they live peaceably with their neighbours,
   keep a temperate diet, observe the returns of worship, frequenting the
   church, or their closet, and sometimes extend their hands to the relief
   of the poor, they think they have sufficiently acquitted themselves.
   Others again put all religion in the affections, in rapturous hearts,
   and ecstatic devotion; and all they aim at is, to pray with passion,
   and think of heaven with pleasure, and to be affected with those kind
   and melting expressions wherewith they court their Saviour, till they
   persuade themselves they are mightily in love with him, and from thence
   assume a great confidence of their salvation, which they esteem the
   chief of Christian graces. Thus are these things which have any
   resemblance of piety, and at the best are but means of obtaining it, or
   particular exercises of it, frequently mistaken for the whole of
   religion: nay, sometimes wickedness and vice pretend to that name. I
   speak not now of those gross impieties wherewith the Heathens were wont
   to worship their gods. There are but too many Christians who would
   consecrate their vices, and follow their corrupt affections, whose
   ragged humour and sullen pride must pass for Christian severity; whose
   fierce wrath, and bitter rage against their enemies, must be called
   holy zeal; whose petulancy towards their superiors, or rebellion
   against their governors, must have the name of Christian courage and
   resolution.

   But certainly religion is quite another thing, and they who are
   acquainted with it will entertain far different thoughts, and disdain
   all those shadows and false imitations of it. They know by experience
   that true religion is a union of the soul with God, a real
   participation of the divine nature, the very image of God drawn upon
   the soul, or, in the apostle's phrase, "It is Christ formed within
   us."--Briefly, I know not how the nature of religion can be more fully
   expressed, than by calling it a Divine Life: and under these terms I
   shall discourse of it, showing first, how it is called a life; and
   then, how it is termed divine.

   I choose to express it by the name of life, first, because of its
   permanency and stability. Religion it not a sudden start, or passion of
   the mind, not though it should rise to the height of a rapture, and
   seem to transport a man to extraordinary performances. There are few
   but have convictions of the necessity of doing something for the
   salvation of their souls, which may push them forward some steps with a
   great deal of seeming haste; but anon they flag and give over. They
   were in a hot mood, but now they are cooled; they did shoot forth fresh
   and high, but are quickly withered, because they had no root in
   themselves. These sudden fits may be compared to the violent and
   convulsive motions of bodies newly beheaded, caused by the agitations
   of the animal spirits, after the soul is departed, which, however
   violent and impetuous, can be of no long continuance; whereas the
   motions of holy souls are constant and regular, proceeding from a
   permanent and lively principle. It is true, this divine life continueth
   not always in that same strength and vigour, but many times suffers sad
   decays; and holy men find greater difficulty in resisting temptations,
   and less alacrity in the performance of their duties. Yet it is not
   quite extinguished, nor are they abandoned to the power of those
   corrupt affections, which sway and overrule the rest of the world.

   Again, religion may be designed by the name of life, because it is an
   inward, free, and self-moving principle: and those who have made
   progress in it, are not actuated only by external motives, driven
   merely by threatenings, nor bribed by promises, nor constrained by
   laws; but are powerfully inclined to that which is good, and delight in
   the performance of it. The love which a pious man bears to God and
   goodness, is not so much by virtue of a command enjoining him so to do,
   as by a new nature instructing and prompting him to it; nor doth he pay
   his devotions as an unavoidable tribute only to appease the divine
   justice, or quiet his clamorous conscience; but those religious
   exercises are the proper emanations of the divine life, the natural
   employments of the new-born soul. He prays, and gives thanks, and
   repents, not only because these things are commanded, but rather
   because he is sensible of his wants, and of the divine goodness, and of
   the folly and misery of a sinful life. His charity is not forced, nor
   his alms extorted from him; his love makes him willing to give; and
   though there were no outward obligation, his heart would devise liberal
   things. Injustice or intemperance, and all other vices, are as contrary
   to his temper and constitution, as the basest actions are to the most
   generous spirit, and impudence and scurrility to those who are
   naturally modest. So that I may well say with St. John, "Whosoever is
   born of God, doth not commit sin: for his seed remaineth in him, and he
   cannot sin, because he is born of God." Though holy and religious
   persons do much eye the law of God, and have a great regard unto it,
   yet it is not so much the sanction of the law, as its reasonableness,
   and purity, and goodness, which do prevail with them. They account it
   excellent and desirable in itself, and that in keeping of it there is
   great reward; and that divine love wherewith they are actuated, makes
   them become a law unto themselves:

   > Who shall prescribe a law to those that love?

   > Love's a more powerful law which doth them move.

   In a word, what our blessed Saviour said of himself, is in some measure
   applicable to his followers, that "it is their meat and drink to do
   their Father's will." And, as the natural appetite is carried out
   toward food, though we should not reflect on the necessity of it for
   the preservation of our lives, so they are carried with a natural and
   unforced propension toward that which is good and commendable. It is
   true, external motives are many times of great use to excite and stir
   up this inward principle, especially in its infancy and weakness, when
   it is often so languid that the man himself can scarce discern it,
   hardly being able to move one step forward but when he is pushed by his
   hopes or his fears, by the pressure of an affliction, or the sense of a
   mercy, by the authority of the law, or the persuasion of others. Now,
   if such a person be conscientious and uniform in his obedience, and
   earnestly groaning under the sense of his dulness, and is desirous to
   perform his duties with more spirit and vigour, these are the first
   motions of the divine life, which, though it be faint and weak, will
   surely be cherished by the influences of heaven, and grow unto greater
   maturity. But he who is utterly destitute of this inward principle, and
   doth not aspire to it, but contents himself with those performances
   whereunto he is prompted by education or custom, by the fear of hell or
   carnal notions of heaven, can no more be accounted a religious person,
   than a puppet can be called a man. This forced and artificial religion
   is commonly heavy and languid, like the motion of a weight forced
   upward. It is cold and spiritless, like the uneasy compliance of a wife
   married against her will, who carries it dutifully toward the husband
   whom she does not love, out of some sense of virtue or honour. Hence
   also this religion is scant and niggardly, especially in those duties
   which do greatest violence to men's carnal inclinations; and those
   slavish spirits will be sure to do no more than is absolutely required.
   It is a law that compels them, and they will be loath to go beyond what
   it stints them to; nay, they will ever be putting such glosses on it,
   as may leave themselves the greatest liberty. Whereas, the spirit of
   true religion is frank and liberal--far from such peevish and narrow
   reckoning; and he who hath given himself entirely unto God, will never
   think he doth too much for him.

   By this time I hope it doth appear, that religion is with a great deal
   of reason termed a life, or vital principle, and that it is very
   necessary to distinguish betwixt it and that obedience which is
   constrained, and depends upon external causes. I come next to give an
   account why I designed it by the name of Divine Life: and so it may be
   called, not only in regard of its fountain and original, having God for
   its author, and being wrought in the souls of men by the power of his
   Holy Spirit; but also in regard of its nature, religion being a
   resemblance of the divine perfections, the image of the Almighty
   shining in the soul of man: nay, it is a real participation of his
   nature, it is a beam of the eternal light, a drop of that infinite
   ocean of goodness; and they who are endowed with it may be said to have
   "God dwelling in their souls, and Christ formed within them."

   Before I descend to a more particular consideration of that divine life
   wherein true religion doth consist, it will perhaps be fit to speak a
   little of that natural or animal life which prevails in those who are
   strangers to the other: and by this I understand nothing else, but our
   inclination and propension towards those things which are pleasing and
   acceptable to nature; or self-love issuing forth and spreading itself
   into as many branches as men have several appetites and inclinations.
   The root and foundation of the animal life, I reckon to be sense,
   taking it largely, as it is opposed unto faith, and importeth our
   perception and sensation of those things that are either grateful or
   troublesome to us. Now these animal affections, considered in
   themselves, and as they are implanted in us by nature, are not vicious
   or blameable; nay, they are instances of the the wisdom of the Creator,
   furnishing his creatures with such appetites as tend to the
   preservation and welfare of their lives. These are instead of a law
   unto the brute beasts, whereby they are directed towards the ends for
   which they were made: but man being made for higher purposes, and to be
   guided by more excellent laws, becomes guilty and criminal when he is
   so far transported by the inclinations of this lower life as to violate
   his duty, or neglect the higher and more noble designs of his creation.
   Our natural affections are not wholly to be extirpated and destroyed,
   but only to be moderated and overruled by superior and more excellent
   principle. In a word, the difference betwixt a religious and wicked man
   is, that in the one divine life bears sway, in the other the animal
   life doth prevail.

   But it is strange to observe unto what different courses this natural
   principle will sometimes carry those who are wholly guided by it,
   according to the diverse circumstances that concur with it to determine
   them; and then, not considering this doth frequently occasion very
   dangerous mistakes, making men think well of themselves by reason of
   that seeming difference which is betwixt them and others, whereas,
   perhaps, their actions do all the while flow from one and the same
   original. If we consider the natural temper and constitution of men's
   souls, we shall find some to be airy, frolicksome, and light, which
   make their behaviour extravagant and ridiculous; whereas others are
   naturally serious and severe, and their whole carriage composed into
   such gravity as gains them a great deal of reverence and esteem. Some
   are of a humorous, rugged, and morose temper, and can neither be
   pleased themselves, nor endure that others should be so. But all are
   not born with such sour and unhappy dispositions; for some persons have
   a certain sweetness and benignity rooted in their natures; and they
   find the greatest pleasure in the endearments of society, and the
   mutual complacency of friends, and covet nothing more than to have
   every body obliged to them: and it is well that nature hath provided
   this complexional tenderness, to supply the defect of true charity in
   the world, and to incline men to do something for one another's
   welfare. Again, in regard to education, some have never been taught to
   follow any other rules than those of pleasure or advantage; but others
   are so inured to observe the strictest rules of decency and honour, and
   some instances of virtue, that they are hardly capable of doing any
   thing which they have been accustomed to look upon as base and
   unworthy.

   In fine, it is no small difference in the deportment of mere natural
   men, that doth arise from the strength or weakness of their wit or
   judgment, and from their care and negligence in using them.
   Intemperance and lust, injustice and oppression, and all those other
   impieties which abound in the world, and render it so miserable, are
   the issues of self-love, the effect of the animal life, when it is
   neither overpowered by religion, nor governed by natural reason: but if
   it once take hold of reason, and get judgment and wit to be of its
   party, it will many times disdain the grosser sort of vices, and spring
   up into fair imitations of virtue and goodness. If a man have but so
   much reason as to consider the prejudice which intemperance and
   inordinate lust do bring unto his health, his fortune, and his
   reputation, self-love may suffice to restrain him; and one may observe
   the rules of moral justice, in dealing with others, as the best way to
   secure his own interest, and maintain his credit in the world. But this
   is not all; for this natural principle, by the help of reason, may take
   a higher flight, and come nigher the instances of piety and religion:
   it may incline a man to the diligent study of divine truths; for why
   should not these, as well as other speculations, be pleasant and
   grateful to curious and inquisitive minds? It may make men zealous in
   maintaining and propagating such opinions as they have espoused, and be
   very desirous that others should submit unto their judgment, and
   approve the choice of religion which they themselves have made. It may
   make them delight to hear and compose excellent discourses about the
   matters of religion; for eloquence is very pleasant, whatever be the
   subject: nay, some it may dispose to no small height of sensible
   devotion. The glorious things that are spoken of heaven, may make even
   a carnal heart in love with it: the metaphors and similitudes made use
   of in Scripture, of crowns and sceptres, and rivers of pleasure, &c.
   will easily affect a man's fancy, and make him wish to be there, though
   he neither understand nor desire those spiritual pleasures which are
   described and shadowed forth by them: and when such a person comes to
   believe that Christ has purchased those glorious things for him, he may
   feel a kind of tenderness and affection towards so great a benefactor,
   and imagine that he is mightily enamoured with him, and yet all the
   while continue a stranger to the holy temper and spirit of the blessed
   Jesus; and what hand the natural constitution may have in the rapturous
   devotions of some melancholy persons, hath been excellently discovered
   of late by several learned and judicious pens.

   To conclude, there is nothing proper to make a man's life pleasant, or
   himself eminent and conspicuous in the world, but this natural
   principle, assisted by wit and reason, may prompt him to it: and though
   I do not condemn those things in themselves, yet it concerns us nearly
   to know and consider their nature, both that we may keep within due
   bounds, and also that we may learn never to value ourselves on the
   account of such attainments, nor lay the stress of religion upon our
   natural appetites or performances.

   It is now time to return to the consideration of that divine life
   whereof I was discoursing before, that life which is hid with Christ in
   God; and therefore hath no glorious show or appearance in the world,
   and to the natural man will seem a mean and insipid notion. As the
   animal life consisteth in that narrow and confined love which is
   terminated on a man's self, and in his propension towards those things
   that are pleasing to nature; so the divine life stands in a universal
   and unbounded affection, and in the mastery over our natural
   inclinations, that they may never be able to betray us to those things
   which we know to be blameable. The root of the divine life is faith;
   the chief branches are love to God, charity to man, purity, and
   humility: for, as an excellent person hath well observed, however these
   names be common and vulgar, and make no extraordinary sound, yet do
   they carry such a mighty sense, that the tongue of man or angel can
   pronounce nothing more weighty or excellent. Faith hath the same place
   in the divine life, which sense hath in the natural, being indeed
   nothing else but a kind of sense, or feeling persuasion of spiritual
   things; it extends itself unto all divine truths; but in our lapsed
   estate, it hath a peculiar relation to the declaration of God's mercy
   and reconcilableness to sinners through a Mediator; and therefore,
   receiving its denomination from that principal object, is ordinarily
   termed faith in Jesus Christ.

   The love of God is a delightful and affectionate sense of the divine
   perfections, which makes the soul resign and sacrifice itself wholly
   unto him, desiring above all things to please him, and delighting in
   nothing so much as in fellowship and communion with him, and being
   ready to do or suffer any thing for his sake, or at his pleasure.
   Though this affection may have its first rise from the favours and
   mercies of God toward ourselves, yet doth it, in its growth and
   progress, transcend such particular considerations, and ground itself
   on his infinite goodness, manifested in all the works of creation and
   providence. A soul thus possessed with divine love, must needs be
   enlarged, toward all mankind, in a sincere and unbounded affection,
   because of the relation they have to God, being his creatures, and
   having something of his image stamped upon them; and this is that
   charity I named as the second branch of religion, and under which all
   the parts of justice, all the duties we owe to our neighbour, are
   eminently comprehended: for he who doth truly love all the world, will
   be nearly concerned in the interest of every one; and so far from
   wronging or injuring any person, that he will resent any evil that
   befals others, as if it happened to himself.

   By purity, I understand a due abstractedness from the body, and mastery
   over the inferior appetites; or such a temper and disposition of mind,
   as makes a man despise and abstain from all pleasures and delights of
   sense or fancy, which are sinful in themselves, or tend to extinguish
   or lessen our relish of more divine and intellectual pleasures; which
   doth also infer a resoluteness to undergo all those hardships he may
   meet with in the performance of his duty; so that not only chastity and
   temperance, but also Christian courage and magnanimity, may come under
   this head.

   Humility imports a deep sense of our own meanness, with hearty and
   affectionate acknowledgment of our owing all that we are to the divine
   bounty; which is always accompanied with a profound submission to the
   will of God, and great deadness toward the glory of the world and
   applause of men.

   These are the highest perfections that either men or angels are capable
   of--the very foundation of heaven laid in the soul; and he who hath
   attained them, needs not desire to pry into the hidden rolls of God's
   decrees, or search the volumes of heaven to know what is determined
   about his everlasting condition; but he may find a copy of God's
   thoughts concerning him, written in his own breast. His love to God may
   give him assurance of God's favour to him; and those beginnings of
   happiness, which he feels in the conformity of the powers of his soul
   to the nature of God, and compliance with his will, are a sure pledge
   that his felicity shall be perfected, and continued to all eternity;
   and it is not without reason that one said, "I had rather see the real
   impressions of a God-like nature upon my own soul, than have a vision
   from heaven, or an angel sent to tell me that my name was enrolled in
   the book of life."

   When we have said all that we can, the secret mysteries of a new nature
   and divine life can never be sufficiently expressed: language and words
   cannot reach them; nor can they be truly understood but by those souls
   that are enkindled within, and awakened unto the sense and relish of
   spiritual things: "There is a spirit in man; and the inspiration of the
   Almighty giveth this understanding." The power and life of religion may
   be better expressed in actions than in words; because actions are more
   lively things, and do better represent the inward principle whence they
   proceed; and, therefore, we may take the best measure of those gracious
   endowments from the deportment of those in whom they reside; especially
   as they are perfectly exemplified in the holy life of our blessed
   Saviour, a main part of whose business in this world was to teach, by
   his practice, what he did require of others,--and to make his own
   conversation an exact resemblance of those unparalleled rules which he
   prescribed; so that if ever true goodness was visible to mortal eyes,
   it was then, when his presence did beautify and illustrate this lower
   world.

   That sincere and devout affection wherewith his blessed soul did
   constantly burn towards his heavenly Father, did express itself in an
   entire resignation to his will; it was his very "meat to do the will,
   and finish the work of him that sent him." This was the exercise of his
   childhood, and the constant employment of his riper age. He spared no
   travel or pains while he was about his Father's business, but took such
   infinite content and satisfaction in the performance of it, that when,
   being faint and weary with his journey, he rested himself on Jacob's
   well, and entreated water of the Samaritan woman. The success of his
   conference with her, and the accession that was made to the kingdom of
   God, filled his mind with such delight, as seemed to have redounded to
   his very body, refreshing his spirits, and making him forget the thirst
   whereof he complained before, and refuse the meat which he had sent his
   disciples to buy. Nor was he less patient and submissive in suffering
   the will of God, than diligent in the doing of it: he endured the
   sharpest afflictions and extremest miseries that ever were inflicted on
   any mortal, without repining thought, or discontented word: for though
   he was far from a stupid insensibility, or a fantastic or stoical
   obstinacy, and had as quick a sense of pain as other men, and the
   deepest apprehension of what he was to suffer in his soul, (as his
   bloody sweat, and the sore amazement and sorrow which he professed, do
   abundantly declare,) yet did he entirely submit to that severe
   disposition of providence, and willingly acquiesced in it.

   And he prayed to God, that "if it were possible," (or, as one of the
   Evangelists hath it, "if he were willing,") "that cup might be
   removed:" yet he gently added, "nevertheless, not my will, but thine be
   done." Of what strange importance are the expressions, John xii. 27.
   where he first acknowledgeth the anguish of his spirit, "Now is my soul
   troubled," (which would seem to produce a kind of demur,) "and what
   shall I say?" And then he goes on to deprecate his sufferings, "Father,
   save me from this hour;" which he had no sooner uttered, but he doth,
   as it were, on second thoughts, recall it in these words, "But for this
   cause came I into the world;" and concludes, "Father, glorify thy
   name." Now, we must not look on this as any levity, or blameable
   weakness in the blessed Jesus: he knew all along what he was to suffer,
   and did most resolutely undergo it; but it shows us the inconceivable
   weight and pressure that he was to bear, which, being so afflicting,
   and contrary to nature, he could not think of without terror; yet
   considering the will of God, and the glory which was to redound from
   him thence, he was not only content, but desirous to suffer it.

   Another instance of his love to God was his delight in conversing with
   him by prayer, which made him frequently retire himself from the world,
   and, with the greatest devotion and pleasure, spend whole nights in
   that heavenly exercise, though he had not sins to confess, and but few
   secular interests to pray for; which, alas! are almost the only things
   that are wont to drive us to our devotions. Nay, we may say his whole
   life was a kind of prayer; a constant course of communion with God: if
   the sacrifice was not always offering, yet was the fire still kept
   alive; nor was ever the blessed Jesus surprised with that dulness, or
   tepidity of spirit, which we must many times wrestle with before we can
   be fit for the exercise of devotion.

   In the second place, I should speak of his love and charity toward all
   men: but he who would express it, must transcribe the history of the
   gospel, and comment upon it; for scarce any thing is recorded to have
   been done or spoken by him, which was not designed for the good and
   advantage of some one or other.--All his miraculous works were
   instances of his goodness as well as his power; and they benefited
   those on whom they were wrought, as well as they amazed the beholders.
   His charity was not confined to his kindred or relations; nor was all
   his kindness swallowed up in the endearment of that peculiar friendship
   which he carried toward his beloved disciple; but every one was his
   friend who obeyed his holy commands, John xv. 14. And whosoever did the
   will of his Father, the same was to him as his brother, sister, and
   mother.

   Never was any unwelcome to him who came with an honest intention, nor
   did he deny any request which tended to the good of those that asked
   it: so that what was spoken of that Roman emperor, who, for his
   goodness, was called the darling of mankind, was really performed by
   him, that never any departed from him with a heavy countenance, except
   that rich youth, (Mark x.) who was sorry to hear that the kingdom of
   heaven stood at so high a rate, and that he could not save his soul and
   his money too. And certainly it troubled our Saviour, to see that when
   a price was in his hand to get wisdom, yet he had no heart to it. The
   ingenuity that appeared in his first address had already procured some
   kindness for him; for it is said, "and Jesus, beholding him, loved
   him:" but must he, for his sake, cut out a new way to heaven, and alter
   the nature of things, which make it impossible that a covetous man
   should be happy?

   And what shall I speak of his meekness, who could encounter the
   monstrous ingratitude and dissimulation of that miscreant who betrayed
   him, in no harsher terms than these: "Judas, betrayest thou the Son of
   man with a kiss?" What farther evidence could we desire of his fervent
   and unbounded charity, than that he willingly laid down his life even
   for his most bitter enemies; and mingling his prayers with his blood,
   besought the Father that his death might not be laid to their charge,
   but might become the means of eternal life to those very persons who
   procured it?

   The third branch of the divine life is purity, which, as I said
   consists in a neglect of worldly enjoyment accommodations, in a
   resolute enduring of all such troubles as we meet with in doing of our
   duty. Now surely, if ever any person was wholly dead to all the
   pleasures of the natural life, it was the blessed Jesus, who seldom
   tasted them when they came in his way; but never stepped out of his
   road to seek them. Though he allowed others the comforts of wedlock,
   and honoured marriage with his presence, yet he chose the severity of a
   virgin life, and never knew the nuptial bed: and though at the same
   time he supplied the want of wine with a miracle, yet he would not work
   one for the relief of his own hunger in the wilderness; so gracious and
   divine was the temper of his soul, in allowing to others such lawful
   gratifications as himself thought good to abstain from, and supplying
   not only their more extreme and pressing necessities, but also their
   smaller and less considerable wants. We many times hear of our
   Saviour's sighs, and groans, and tears; but never that he laughed; and
   but once that he rejoiced in spirit: so that through his whole life, he
   did exactly answer that character given of him by the prophet of old,
   that he was "a man of sorrows and acquainted with grief." Nor were the
   troubles and disaccommodations of his life other than matters of
   choice; for never did there any appear on the stage of the world with
   greater advantages to have raised himself to the highest secular
   felicity. He who would bring together such a prodigious number of
   fishes into his disciples' net, and, at another time, receive that
   tribute from a fish which he was to pay to the temple, might easily
   have made himself the richest person in the world. Nay, without any
   money, he could have maintained an army powerful enough to have justled
   Cesar out of his throne, having oftener than once fed several thousands
   with a few loaves and small fishes; but, to show how small esteem he
   had of all the enjoyments in the world, he chose to live in so poor and
   mean a condition, "that though the foxes had holes, and the birds of
   the air had nests, yet he, who was Lord and heir of all things, had not
   whereon to lay his head." He did not frequent the courts of princes,
   nor affect the acquaintance or converse of great ones; but, being
   reputed the son of a carpenter, he had fishermen, and such other poor
   people for his companions, and lived at such a rate as suited with the
   meanness of that condition.

   And thus I am brought unawares to speak of his humility, the last
   branch of the divine life; wherein he was a most eminent pattern to us,
   that we might "learn of him to be meek and lowly in heart." I shall not
   now speak of that infinite condescension of the eternal Son of God, in
   taking our nature upon him, but only reflect on our Saviour's lowly and
   humble deportment while he was in the world. He had none of those sins
   and imperfections which may justly humble the best of men; but he was
   so entirely swallowed up with a deep sense of the infinite perfections
   of God, that he appeared as nothing in his own eyes; I mean so far as
   he was a creature. He considered those eminent perfections which shined
   in his blessed soul, not as his own, but the gifts of God; and
   therefore assumed nothing to himself for them, but, with the
   profoundest humility, renounced all pretences to them. Hence did he
   refuse that ordinary compellation of "Good Master," when addressed to
   his human nature, by one who, it seems, was ignorant of his divinity:
   "Why callest thou me good? there is none good but God only;" as if he
   had said, The goodness of any creature (and such only thou takest me to
   be) is not worthy to be named or taken notice of. It is God alone who
   is originally and essentially good.' He never made use of his
   miraculous power for vanity or ostentation. He would not gratify the
   curiosity of the Jews with a sign from heaven, some prodigious
   appearance in the air; nor would he follow the advice of his countrymen
   and kindred, who would have all his great works performed in the eyes
   of the world, for gaining him the greater fame. But when his charity
   had prompted him to the relief of the miserable, his humility made him
   many times enjoin the concealment of the miracle; and when the glory of
   God, and the design for which he came into the world, required the
   publication of them, he ascribeth the honour of all to his Father,
   telling them, "that of himself he was able to do nothing."

   I cannot insist on all the instances of humility in his deportment
   towards men: his withdrawing himself when they would have made him a
   king; his subjection, not only to his blessed mother, but to her
   husband, during his younger years; and his submission to all the
   indignities and affronts which his rude and malicious enemies did put
   upon him. The history of his holy life, recorded by those who convened
   with him, is full of such passages as these; and indeed the serious and
   attentive study of it is the best way to get right measures of
   humility, and all the other parts of religion which I have been
   endeavouring to desribe.

   But now, that I may lessen your trouble of reading a long letter, by
   making some pauses in it, let me here subjoin a prayer, that might be
   proper when one, who had formally entertained some false notions of
   religion, begins to discover what it is.

   ### A PRAYER.

   Infinite and eternal Majesty! Author and Fountain of being and
   blessedness! how little do we poor sinful creatures know of thee, or
   the way to serve and please thee! We talk of religion, and pretend unto
   it; but, alas! how few are there that know and consider what it means!
   How easily do we mistake the affections of our nature, and issues of
   self-love, for those divine graces which alone can render us acceptable
   in thy sight! It may justly grieve me to consider, that I should have
   wandered so long, and contented myself so often with vain shadows and
   false images of piety and religion; yet I cannot but acknowledge and
   adore thy goodness, who hast been pleased, in some measure, to open
   mine eyes, and let me see what it is at which I ought to aim. I rejoice
   to consider what mighty improvements my nature is capable of, and what
   a divine temper of spirit doth shine in those whom thou art pleased to
   choose, and causest to approach unto thee. Blessed be thine infinite
   mercy, who sentest thine own Son to dwell among men, and instruct them
   by his example as well as his laws, giving them a perfect pattern of
   what they ought to be. O that the holy life of the blessed Jesus may be
   always in my thoughts, and before mine eyes, till I receive a deep
   sense and impression of those excellent graces that shined so eminently
   in him! And let me never cease my endeavours, till that new and divine
   nature prevail in my soul, and Christ be formed within me.

   <p>
     <a class="next" href="02.html">Next</a>
   </p>
