:markdown

   <p>
     <a class="previous" href="01.html">Previous</a>
     <a class="next" href="03.html">Next</a>
   </p>

   # PART II.

   ### On the Excellency of Religion and Divine Love.

   And now, my dear friend, having discovered the nature of true religion,
   before I proceed any further, it will not perhaps be unfit to fix our
   meditations a little on the excellency and advantages of it, that we
   may be excited to the more vigorous and diligent prosecution of those
   methods whereby we may attain so great a felicity. But, alas! what
   words shall we find to express that inward satisfaction, those hidden
   pleasures, which can never be rightly understood but by those holy
   souls that feel them? "A stranger intermeddleth not with their joys."
   Holiness is the right temper, the vigorous and healthful constitution
   of the soul. Its faculties had formerly been enfeebled and disordered,
   so that they could not exercise their natural functions; it had wearied
   itself with endless tossings and rollings, and was never able to find
   any rest. Now that distemper being removed, it feels itself well; there
   is due harmony in its faculties, and a sprightly vigour possesseth
   every part. The understanding can discern what is good, and the will
   can cleave to it. The affections are not tied to the motions of sense
   and the influence of external objects, but they are stirred by more
   divine impressions, are touched by a sense of invisible things.

   Let us descend, if you please, into a nearer and more particular view
   of religion, in those several branches of it which were named before.
   Let us consider that love and affection wherewith holy souls are united
   to God, that we may see what excellency and felicity is involved in it.
   Love is that powerful and prevalent passion, by which all the faculties
   and inclinations of the soul are determined, and on which both its
   perfection and happiness depend. The worth and excellency of a soul is
   to be measured by the object of its love. He who loveth mean and sordid
   things doth thereby become base and vile, but a noble and well-placed
   affection doth advance and improve the spirit into a conformity with
   the perfections which it loves. The images of these do frequently
   present themselves unto the mind, and, by a secret force and energy,
   insinuate into the very constitution of the soul, and mould and fashion
   it unto their own likeness. Hence we may see how easily lovers or
   friends do slide into the imitation of the persons whom they affect;
   and how, even before they are aware, they begin to resemble them, not
   only in the more considerable instances of their deportment, but also
   in their voice and gesture, and that which we call their mien or air;
   and certainly we should as well transcribe the virtues and inward
   beauties of the soul, if they were the object and motive of our love.
   But now, as all the creatures we converse with have their mixture and
   alloy, we are always in hazard to be sullied and corrupted by placing
   our affections on them. Passion doth easily blind our eyes, so that we
   first approve, and then imitate the things that are blameable in them.
   The true way to improve and ennoble our souls is, by fixing our love on
   the divine perfections, that we may have them always before us, and
   derive an impression of them on ourselves; and, "beholding with open
   face, as in a glass, the glory of the Lord, we may be changed into the
   same image, from glory to glory." He who, with a generous and holy
   ambition, hath raised his eyes towards that uncreated beauty and
   goodness, and fixed his affection there, is quite of another spirit, of
   a more excellent and heroic temper, than the rest of the world, and
   cannot but infinitely disdain all mean and unworthy things; will not
   entertain any low or base thoughts which might disparage his high and
   noble pretensions. Love is the greatest and most excellent thing we are
   masters of and therefore it is folly and baseness to bestow it
   unworthily. It is indeed the only thing we can call our own: other
   things may be taken from us by violence, but none can ravish our love.
   If any thing else be counted ours by giving our love, we give all, so
   far as we make over our hearts and wills, by which we possess our other
   enjoyments. It is not possible to refuse him any thing, to whom by love
   we have given ourselves; nay, since it is the privilege of gifts to
   receive their value from the mind of the giver, and not to be measured
   by the event, but by the desire, he who loveth may, in some sense, be
   said not only to bestow all that he hath, but all things else which may
   make the beloved person happy; since he doth heartily wish them, and
   would really give them if they were in his power: in which sense it is
   that one makes to say, "That divine love doth, in a manner, give God
   unto himself, by the complacency it takes in the happiness and
   perfection of his nature." But though this may seem too strained an
   expression, certainly love is the worthiest present we can offer unto
   God, and it is extremely debased when we bestow it another way.

   When this affection is misplaced, it doth often vent itself in such
   expressions as point at its genuine and proper object, and insinuate
   where it ought to be placed. The flattering and blasphemous terms of
   adoration, wherein men do sometimes express their passion, are the
   language of that affection which was made and designed for God; as he
   who is accustomed to speak to some great person, doth perhaps,
   unawares, accost another with those titles he was wont to give him; but
   certainly that passion which accounteth its object a deity, ought to be
   bestowed on him who really is so. Those unlimited submissions, which
   would debase the soul if directed to any other, will exalt and ennoble
   it when placed here. Those chains and cords of love are infinitely more
   glorious than liberty itself; this slavery is more noble than all the
   empires in the world.

   Again, As divine love doth advance and elevate the soul, so it is that
   alone which can make it happy. The highest and most ravishing
   pleasures, the most solid and substantial delights that human nature is
   capable of, are those which arise from the endearments of a well-placed
   and successful affection. That which imbitters love, and makes it
   ordinarily a very troublesome and hurtful passion, is the placing it on
   those who have not worth enough to deserve it, or affection and
   gratitude to requite it, or whose absence may deprive us of the
   pleasure of their converse, or their miseries occasion our trouble. To
   all these evils are they exposed, whose chief and supreme affection is
   placed on creatures like themselves; but the love of God delivers us
   from them all.

   First, I say, love must needs be miserable, and full of trouble and
   disquietude, when there is not worth and excellency enough in the
   object to answer the vastness of its capacity. So eager and violent a
   passion cannot but fret and torment the spirit, when it finds not
   wherewith to satisfy its cravings; and, indeed, so large and unbounded
   in its nature, that it must be extremely pinched and straitened, when
   confined to any creature: nothing below an infinite good can afford it
   room to stretch itself, and exert its vigour and activity. What! is a
   little skin-deep beauty, or some small degrees of goodness, to match or
   satisfy a passion which was made for God: designed to embrace an
   infinite good? No wonder lovers do so hardly suffer any rival, and do
   not desire that others should approve their passions by imitating it;
   they know the scantiness and narrowness of the good which they love,
   that it cannot suffice two, being in effect too little for one. Hence
   love, "which is as strong as death;" occasioneth "jealousy which is as
   cruel as the grave," the coals whereof are coals of fire, which hath a
   most violent flame.

   But divine love hath no mixture of this gall. When once the soul is
   fixed on that supreme and all-sufficient good, it finds so much
   perfection and goodness, as doth not only answer and satisfy its
   affection, but master and overpower it too. It finds all its love to be
   too faint and languid for such a noble object, and is only sorry that
   it can command no more. It wisheth for the flames of a seraph, and
   longs for the time when it shall be wholly melted and dissolved into
   love; and because it can do so little itself, it desires the assistance
   of the whole creation, that angels and men would conquer with it the
   admiration and love of those infinite perfections.

   Again, Love is accompanied with trouble, when it misseth a suitable
   return of affection. Love is the most valuable thing we can bestow, and
   by giving it, we do, in effect, give all that we have; and therefore it
   must needs be afflicting to find so great a gift despised, that the
   present which one hath made of his whole heart, cannot prevail to
   obtain any return. Perfect love is a kind of self-dereliction, a
   wandering out of ourselves; it is a kind of voluntary death, wherein
   the lover dies to himself, and all his own interests, nor thinking of
   them, nor caring for them any more, and minding nothing but how he may
   please and gratify the party whom he loves. Thus he is quite undone,
   unless he meets with reciprocal affection; he neglects himself, and the
   other hath no regard to him: but if he be beloved, he is revived, as it
   were, and liveth in the soul and care of the person whom he loves; and
   now he begins to mind his own concernments, not so much because they
   are his, as because the beloved is pleased to own an interest in them:
   he becomes dear unto himself, because he is so unto the other.

   But why should I enlarge in so known a matter? Nothing can be more
   clear than that the happiness of love depends on the return it meets
   with: and herein the divine lover hath unspeakably the advantage,
   having placed his affection on him whose nature is love, whose goodness
   is as infinite as his being, whose mercy prevented us when we were his
   enemies, therefore cannot choose but embrace us when we are become his
   friends. It is utterly impossible that God should deny his love to a
   soul wholly devoted to him, and which desires nothing so much as to
   serve and please him; he cannot disdain his own image, nor the heart in
   which it is engraven. Love is all the tribute which we can pay him, and
   it is the sacrifice which he will not despise.

   Another thing which disturbs the pleasure of love, and renders it a
   miserable and unquiet passion, is absence and separation from those we
   love. It is not without a sensible affliction that friends do part,
   though for some little time: it is sad to be deprived of that society
   which is so delightful; our life becomes tedious, being spent in an
   impatient expectation of the happy hour wherein we may meet again: but
   if death has made the separation, as some time or other it must, this
   occasions a grief scarce to be paralleled by all the misfortunes of
   human life, and wherein we may pay dear enough for the comforts of our
   friendship. But O how happy are those who have placed their love on him
   who can never be absent from them! They need but open their eyes, and
   they shall every where behold the traces of his presence and glory, and
   converse with him whom their soul loveth; and this makes the darkest
   prison, or wildest desert, not only supportable, but delightful to
   them.

   In fine, A lover is miserable, if the person whom be loveth be so. They
   who have made an exchange of hearts by love, get thereby an interest in
   one another's happiness and misery; and this makes love a troublesome
   passion, when placed on earth. The most fortunate person hath grief
   enough to mar the tranquillity of his friend; and it is hard to hold
   out, when we are attacked on all hands, and suffer not only in our own
   person, but in another's. But if God were the object of our love, we
   should share in an infinite happiness, without any mixture or
   possibility of diminution; we should rejoice to behold the glory of
   God, and receive comfort and pleasure from all the praises wherewith
   men and angels do extol him. It should delight us, beyond all
   expression, to consider, that the beloved of our souls is infinitely
   happy in himself, and that all his enemies cannot shake or unsettle his
   throne: "that our God is in the heavens, and doth whatever he
   pleaseth."

   Behold, on what sure foundation his happiness is built, whose soul is
   possessed with divine love, whose will is transformed into the will of
   God, and whose great desire is, that his Maker should be pleased! O the
   peace, the rest, the satisfaction that attendeth such a temper of mind!

   What an infinite pleasure must it needs be, thus, as it were, to lose
   ourselves in him, and, being swallowed up in the overcoming sense of
   his goodness, to offer ourselves a living sacrifice, always ascending
   unto him in flames of love! Never doth a soul know what solid joy and
   substantial pleasure is, till once, being weary of itself, it renounce
   all propriety, give itself up unto the Author of its being, and feel
   itself become a hallowed and devoted thing, and can say, from an inward
   sense and feeling, "My beloved is mine," (I account all his interest
   mine own,) "and I am his:" I am content to be any thing for him, and
   care not for myself, but that I may serve him. A person, moulded into
   this temper, would find pleasure in all the dispensations of
   Providence: temporal enjoyments would have another relish, when he
   should taste the divine goodness in them, and consider them as tokens
   of love, sent by his dearest Lord and Maker: and chastisements, though
   they be not joyous, but grievous, would hereby lose their sting, the
   rod as well as the staff would comfort him: he would snatch a kiss from
   the hand that was smiting him, and gather sweetness from that severity;
   nay, he would rejoice, that though God did not the will of such a
   worthless and foolish creature as himself, yet he did his own will, and
   accomplished his own designs, which are infinitely more holy and wise.

   The exercises of religion, which to others are insipid and tedious, do
   yield the highest pleasures and delight to souls possessed with divine
   love. They rejoice when they are called "to go up to the house of the
   Lord," that they may "see his power and his glory, as they have
   formerly seen it in the sanctuary." They never think themselves so
   happy, as when, having retired from the world, and gotten free from the
   noise and hurry of affairs, and silenced all their clamorous passions
   (those troublesome guests within,) they have placed themselves in the
   presence of God, and entertain fellowship and communion with him: they
   delight to adore his perfections, and recount his favours,--and to
   protest their affection to him, and tell him a thousand times that they
   love him; to lay their troubles or wants before him, and disburden
   their hearts in his bosom. Repentance itself is a delightful exercise,
   when it floweth from the principle of love. There is a secret sweetness
   which accompanieth those tears of remorse, those meltings and
   relentings of a soul returning unto God, and lamenting its former
   unkindness.

   The severities of a holy life, and that constant watch which we are
   obliged to keep over our hearts and ways, are very troublesome to those
   who are only ruled and acted by an external law, and have no law in
   their minds inclining them to the performance of their duty: but where
   divine love possesseth the soul, it stands as sentinel to keep out
   every thing that may offend the beloved, and doth disdainfully repulse
   those temptations which assault it: it complieth cheerfully, not only
   with explicit commands, but with the most secret notices of the
   beloved's pleasure, and is ingenious in discovering what will be most
   grateful and acceptable unto him: it makes mortification and
   self-denial change their harsh and dreadful names, and become easy,
   sweet, and delightful things.

   But I find this part of my letter swell bigger than I designed, (indeed
   who would not be tempted to dwell on so pleasant a theme!) I shall
   endeavour to compensate it by brevity in the other points.

   The next branch of the Divine Life, is a universal charity and love.
   The excellency of this grace will be easily acknowledged; for what can
   be more noble and generous than a heart enlarged to embrace the whole
   world, whose wishes and designs are levelled at the good and welfare of
   the universe, which considereth every man's interest as its own? He who
   loveth his neighbour as himself, can never entertain any base or
   injurious thought, or be wanting in expressions of bounty. He had
   rather suffer a thousand wrongs, than be guilty of one; and never
   accounts himself happy, but when some one or other hath been benefited
   by him: the malice or ingratitude of men is not able to resist his
   love: he overlooks their injuries, and pities their folly, and
   overcomes their evil with good: and never designs any other revenge
   against his most bitter and malicious enemies, than to put all
   objections he can upon them, whether they will or not. Is it any wonder
   that such a person be reverenced and admired, and accounted the darling
   of mankind? This inward goodness and benignity of spirit reflects a
   certain sweetness and serenity upon the very countenance, and makes it
   amiable and lovely: it inspireth the soul with a holy resolution and
   courage, and makes it capable of enterprising and effecting the highest
   things. Those heroic actions which we are wont to read with admiration,
   have, for the most part, been the effects of the love of one's country,
   or of particular friendships: and, certainly, a more extensive and
   universal affection must be much more powerful and efficacious.

   Again, As charity flows from a noble and excellent temper, so it is
   accompanied with the greatest satisfaction and pleasure: it delights
   the soul to feel itself thus enlarged, and to be delivered from those
   disquieting, as well as deformed passions, malice, hatred, and envy;
   and become gentle, sweet, benign. Had I my choice of all things that
   might tend to my present felicity, I would pitch upon this, to have my
   heart possessed with the greatest kindness and affection towards all
   men in the world. I am sure this would make me partake in all the
   happiness of others: their inward endowments and outward prosperity;
   every thing that did benefit and advantage them would afford me comfort
   and pleasure: and though I should frequently meet with occasions of
   grief and compassion, yet there is a sweetness in commiseration, which
   makes it infinitely more desirable than a stupid insensibility: and the
   consideration of that infinite goodness and wisdom which governs the
   world, might repress any excessive trouble for particular calamities
   that happen in it: and the hopes or possibility of men's after
   happiness, might moderate their sorrow for their present misfortunes.
   Certainly, next to the love and enjoyment of God, that ardent charity
   and affection wherewith blessed souls do embrace one another, is justly
   to be reckoned as the greatest felicity of those regions above; and did
   it universally prevail in the world, it would anticipate that
   blessedness, and make us taste of the joys of heaven upon earth.

   That which I named as a third branch of religion, was purity; and you
   may remember I described it to consist in a contempt of sensual
   pleasures, and resoluteness to undergo those troubles and pains we may
   meet with in the performance of our duty. Now, the naming of this may
   suffice to recommend it as a most noble and excellent quality. There is
   no slavery so base, as that whereby a man becomes a drudge to his own
   lusts: nor any victory so glorious, as that which is obtained over
   them. Never can that person be capable of any thing that is noble or
   worthy, who is sunk in the gross and seculent pleasures of sense, or
   bewitched with the light and airy gratifications of fancy: but the
   religious soul is of a more sublime and divine temper; it knows it was
   made for higher things, and scorns to step aside one foot out of the
   ways of holiness, for the obtaining any of these.

   And this purity is accompanied with a great deal of pleasure.
   Whatsoever defiles the soul disturbs it too; all impure delights have a
   sting in them, and leave smart and trouble behind them. Excess and
   intemperance, and all inordinate lusts, are so much enemies to the
   health of the body, and the interest of this present life, that a
   little consideration might oblige any rational man to forbear them on
   that very score; and if the religious person go higher, and do not only
   abstain from noxious pleasures, but neglect those that are innocent,
   this is not to be looked upon as any violent and uneasy restraint, but
   as the effect of better choice, that their minds are taken up in the
   pursuit of more sublime and refined delights, so that they cannot be
   concerned in these. Any person that is engaged in a violent and
   passionate affection, will easily forget his ordinary gratifications,
   will be little curious about his diet, or his bodily ease, or the
   divertisements he was wonted to delight in. No wonder then, if souls
   overpowered with divine love despise inferior pleasures, and be almost
   ready to grudge the body its necessary attendance for the common
   accommodations of life, judging all these impertinent to their main
   happiness, those higher enjoyments they are pursuing. As for the
   hardships they may meet with, they rejoice in them, as opportunities to
   exercise and testify their affection; and since they are able to do so
   little for God, they are glad of the honour to suffer for him.

   The last branch of religion is humility; and however to vulgar and
   carnal eyes this may appear an abject, base, and despicable quality,
   yet really the soul of man is not capable of a higher and more noble
   endowment. It is a silly ignorance that begets pride. But humility
   arises from a nearer acquaintance with excellent things, which keeps
   men from doting on trifles, or admiring themselves because of some
   petty attainments. Noble and well-educated souls have no such high
   opinion of riches, beauty, strength, and other such like advantages, as
   to value themselves for them, or despise those that want them. And as
   for inward worth and real goodness, the sense they have of the divine
   perfections, makes them think very meanly of any thing they have
   hitherto attained, and be still endeavouring to surmount themselves,
   and make nearer approaches to those infinite excellencies which they
   admire.

   I know not what thoughts people may have of humility, but I see almost
   every person pretending to it, and shunning such expressions and
   actions as may make them be accounted arrogant and presumptuous, so
   that those who are most desirous of praise will be loathe to commend
   themselves. What are those compliments and modes of civility, so
   frequent in our ordinary converse, but so many protestations of the
   esteem of others, and the low thoughts we have of ourselves? And must
   not that humility be a noble and excellent endowment, when the very
   shadows of it are accounted so necessary a part of good breeding?

   Again, This grace is accompanied with a great deal of happiness and
   tranquility. The proud and arrogant person is a trouble to all that
   converse with him, but most of all unto himself: every thing is enough
   to vex him; but scarce any thing sufficient to content and please him.
   He is ready to quarrel with any thing that falls out; as if he himself
   were such a considerable person, that God Almighty should do every
   thing to gratify him, and all the creatures of heaven and earth should
   wait upon him, and obey his will. The leaves of high trees do shake
   with every blast of wind; and every breath, every evil word will
   disquiet and torment an arrogant man. But the humble person hath the
   advantage when he is despised, that none can think more meanly of him
   than he doth of himself; and therefore he is not troubled at the
   matter, but can easily bear those reproaches which wound the other to
   the soul. And withal, as he is less affected with injuries, so indeed
   he is less obnoxious unto them. "Contention which cometh from pride,"
   betrays a man into a thousand inconveniences, which those of a meek and
   lowly temper seldom meet with. True and genuine humility begetteth both
   a veneration and love among all wise and discerning persons, while
   pride defeateth its own design, and deprives a man of that honour it
   makes him pretend to.

   But as the chief exercises of humility are those which relate unto
   Almighty God, so these are accompanied with the greatest satisfaction
   and sweetness. It is impossible to express the great pleasure and
   delight which religious persons feel in the lowest prostration of their
   souls before God, when, having a deep sense of the divine majesty and
   glory, they sink (if I may so speak) to the bottom of their beings, and
   vanish and disappear in the presence of God, by a serious and
   affectionate acknowledgment of their own nothingness, and the shortness
   and imperfections of their attainments; when they understand the full
   sense and emphasis of the Psalmist's exclamation, "Lord! what is man?"
   and can utter it with the same affection. Never did any haughty and
   ambitious person receive the praises and applauses of men with so much
   pleasure, as the humble and religious do renounce them: "Not unto us, O
   Lord! not unto us, but unto thy name give glory, for thy mercy, and for
   thy truth's sake."

   Thus I have spoken something of the excellencies and advantages of
   religion in its several branches; but should be very injurious to the
   subject, did I pretend to have given any perfect account of it. Let us
   acquaint ourselves with it, and experience will teach us more than all
   that ever hath been spoken or written concerning it. But, if we may
   suppose the soul to be already awakened unto some longing desires after
   so great a blessedness, it will be good to give them vent, and suffer
   them to issue forth in some such aspirations as these:----

   ### A PRAYER.

   Good God! what a mighty felicity is this to which we are called! How
   graciously hast thou joined our duty and happiness together, and
   prescribed that for our work, the performance whereof is a great
   reward! And shall such silly worms be advanced to so great a height?
   Wilt thou allow us to raise our eyes to thee? Wilt thou admit and
   accept our affection? Shall we receive the impression of thy divine
   excellencies, by beholding and admiring them,--and partake of thy
   infinite blessedness and glory, by loving thee, and rejoicing in thee?
   O the happiness of those souls that have broken the fetters of
   self-love, and disentangled their affection from every narrow and
   particular good! whose understandings are enlightened by thy Holy
   Spirit, and their wills enlarged to the extent of thine! who love thee
   above all things, and all mankind for thy sake! I am persuaded, O God,
   I am persuaded, that I can never be happy, till my carnal and corrupt
   affections be mortified, and the pride and vanity of my spirit be
   subdued, and till I come seriously to despise the world, and think
   nothing of myself. But O when shall it once be? O when wilt thou come
   unto me, and satisfy my soul with thy likeness, making me holy as thou
   art holy, even in all manner of conversation? Hast thou given me a
   prospect of so great a felicity, and wilt thou not bring me unto it?
   Hast thou excited these desires in my soul, and wilt thou not also
   satisfy them? O teach me to do thy will, for thou art my God; thy
   Spirit is good, lead me unto the land of uprightness. Quicken me, O
   Lord, for thy name's sake, and perfect that which concerneth me: thy
   mercy, O Lord, endureth for ever, forsake not the works of thine own
   hands."

   <p>
     <a class="previous" href="01.html">Previous</a>
     <a class="next" href="03.html">Next</a>
   </p>
