---
title: Life of God in the Soul of Man~ Table of Contents
---

%h1 Life of God in the Soul of Man

%ul.table-of-contents
  %li
    %a(href="01.html") Part I. On Religion; the Natural Divine Life; and the exemplification of Divine Love in our blessed Savior
  %li
    %a(href="02.html") Part II. On the Excellency of Religion and Divine Love
  %li
    %a(href="03.html") Part III. On the Difficulties and Duties of the Christian Life
