---
title: Books
---

%p
  These are some books I've found on the internet that I've wanted to read yet
  I couldn't because the formatting. I've simply copied the books to my site
  and restyled the content. Any book here is in the public domain.

%ul#books
  %li
    %h1
      %a(href='grace-abounding/') Grace Abounding to the Chief of Sinners
    %p
      %span.author John Bunyan
      %small.date 1666
  %li
    %h1
      %a(href='life-of-god-soul-of-man/') The Life of God in the Soul of Man
    %p
      %span.author Henry Scougal
      %small.date 1670
  %li
    %h1
      %a(href='practice-of-piety/') Practice of Piety
    %p
      %span.author Lewis Bayly
      %small.date 1611