---
title: Contact Me - St. Louis Web Developer
---

:markdown

  # How Can I Help?

  Do you have a project or a website that you need help with? Please let me know how I can help. Here are some things I love to do:

  1. Help people.
  1. Make people happy.
  1. Build things.
  1. Work with data.

  People tell me that they love working with me, and I know you will too! Seriously, let me know how I can help. I want to talk to you!
  If you live in St. Louis, let me know. We can meet up in person and I'll take a look at your project.

  ## Say Hello. You'll be glad you did :)


%form#contact-me{method: 'POST', target:'_blank'}
  %p
    %label Your Name
    %input{type: 'text', name: 'entry.33620929'}
  %p
    %label Your Email
    %input{type: 'email', name: 'entry.446464839'}
  %p
    %label What do you need? How can I help?
    %textarea{name: 'entry.18982858'}
  %input.btn{type: 'submit', value: 'Get in Touch'}

:javascript
  document.getElementById('contact-me').action = "https://docs.google.com/forms/d/1Ful2yDJEBcRWP6UNI8IG-g3ByEZUF__q2IQcFZuVEBk/formResponse?embedded=true"
