* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body {
    font:16px/1.7 Merriweather, Georgia, serif;
    padding-top:50px;
}

body.dark {
    background-color: #151515;
    color: #999DA0;
}

body.dark a {
    color: #688CA5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:900;
}

a {
    text-decoration:none;
    color:#3498db;

    &:visited {
        color:#9b59b6;
    }
}

#wrapper {
    max-width:768px;
    width:100%;
    padding:0 1em;
    margin:0 auto;
}

.table-of-contents {
    list-style:none;
    margin:0;
    padding:0;
    clear: both;
}
