@media print, screen and (max-width: 960px) {
}

@media print, screen and (max-width: 720px) {
}

@media print, screen and (max-width: 480px) {
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
