%header{:id => "header"}
  %h1
    %a{:href => "/"} luk3thomas

  %p.pic
    %img{:src => "/images/luk3thomas.jpg", :alt => "Luke Thomas", :width => "75", :height => "75"}

  .bio
    :markdown
      Hi. My name is Luke Thomas. I am a 
      christian, husband, father of 
      two boys, and a [developer](//vecreative.net). I document things I learn and 
      other ramblings here. I [tweet](https://twitter.com/luk3thomas) sometimes.

  %pre.navigation
    %code
      :plain
        .
        └── Hi.
            ├── <a href="/">Home</a>
            └── <a href="/notes.html">Articles</a>

  = partial "layouts/partials/footer"
