%header{:id => "header"}
  %h2
    %a{:href => "/"} luk3thomas

  %p.pic
    %img{:src => "/images/luk3thomas.jpg", :alt => "Luke Thomas", :width => "75", :height => "75"}

  .bio
    :markdown
      Hi. My name is Luke Thomas. I am a 
      christian, husband, father of 
      two boys, and a developer. I document things I learn and 
      other ramblings here. I [tweet](https://twitter.com/luk3thomas) and <a href="https://plus.google.com/113362995617270682656?rel=author">+</a> sometimes.

  %pre.navigation
    %code
      :plain
        .
        └── Hi.
            ├── <a href="/">Home</a>
            ├── <a href="/notes.html">Articles</a>
            ├── <a href="/labs/">Labs</a>
            └── <a href="/contact.html">Hire me</a>

  = partial "layouts/partials/footer"
