{{ define "side" }}
  {{- partial "menu.html" . -}}
{{ end }}

{{ define "main" }}
  <article class="home">
    {{ .Content }}

    {{ $n := where .Site.Pages "Section" "notes" }}
    {{ $t := where .Site.Pages "Section" "talks" }}
    {{ $p := union $t $n }}
    {{ $p := sort $p "PublishDate" "desc" }}
    {{ range first 5 $p }}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
        <time datetime="{{ .Date.Format "2006-01-02 00:00:00" }}"> {{.Date.Format "January 2, 2006"}} </time>
      </li>
    {{ end }}
    <p>
      Older content is <a href="/notes">available here</a>.
    </p>
  </article>
{{ end }}
