---
title: Grace Abounding to the Chief of Sinners~ Call to the Work of the Ministry
---
<p>
  <a class="prev" href="01.html">Previous</a>
  <a class="next" href="03.html">Next</a>
</p>

<h2>A brief Account of the Author&rsquo;s Call to the Work of
the Ministry</h2>
<p><a href="#l265" id="l265">265</a>.&nbsp; <span class="smcap">And</span> now I am speaking my
experience, I will in this place thrust in a word or two
concerning my preaching the word, and of God&rsquo;s dealing with
me in that particular also.&nbsp; For after I had been about five
or six years awakened, and helped myself to see both the want and
worth of Jesus Christ our Lord, and also enabled to venture my
soul upon Him; some of the most able among the saints with us, I
say, the most able for judgment and holiness of life, as they
conceived, did perceive that God had counted me worth to
understand something of His will in His holy and blessed word,
and had given me utterance in some measure, to express what I saw
to others, for edification; therefore they desired me, and that
with much earnestness, that I would be willing, at sometimes to
take in hand, in one of the meetings, to speak a word of
exhortation unto them.</p>
<p><a href="#l266" id="l266">266</a>.&nbsp; The which, though at the first it did much dash and
abash my spirit, yet being still by them desired and entreated, I
consented to their request, and did twice at two several
assemblies (but in private), though with much weakness and
infirmity, discover my gift amongst them; at which they not only
seemed to be, but did solemnly protest, as in the sight of the
great God, they were both affected and comforted; and gave thanks
to the Father of mercies, for the grace bestowed on me.</p>
<p><a href="#l267" id="l267">267</a>.&nbsp; After this, sometimes, when some of them did go
into the country to teach, they would also that I should go with
them; where, though as yet, I did not nor durst not, make use of
my gift in an open way, yet more privately, still, as I came
amongst the good people in those places, I did sometimes speak a
word of admonition unto them also; the which they, as the other,
received with rejoicing at the mercy of God to me-ward,
professing their souls were edified thereby.</p>
<p><a href="#l268" id="l268">268</a>.&nbsp; Wherefore, to be brief; at last, being still
desired by the church, after some solemn prayer to the Lord, with
fasting, I was more particularly called forth, and appointed to a
more ordinary and public preaching of the word, not only to and
amongst them that believed, but also to offer the gospel to those
who had not yet received the faith thereof; about which time I
did evidently find in my mind a secret pricking forward thereto;
though I bless God, not for desire of vain-glory; for at that
time I was most sorely afflicted with the fiery darts of the
devil, concerning my eternal state.</p>
<p><a href="#l269" id="l269">269</a>.&nbsp; But yet could not be content, unless I was found in
the exercise of my gift, unto which also I was greatly animated,
not only by the continual desires of the godly, but also by that
saying of <i>Paul</i> to the <i>Corinthians</i>: <i>I beseech
you</i>, <i>brethren</i> (<i>ye know the household of
Stephanas</i>, <i>that it is the first fruits of Achaia</i>,
<i>and that they have addicted themselves to the ministry of the
saints</i>) <i>that ye submit yourselves unto such</i>, <i>and to
every one that helpeth with us</i>, <i>and laboureth</i>.&nbsp; 1
Cor. xvi. 15, 16.</p>
<p><a href="#l270" id="l270">270</a>.&nbsp;&nbsp; By this text I was made to see that the Holy
Ghost never intended that men who have gifts and abilities,
should bury them in the earth, but rather did command and stir up
such to the exercise of their gift, and also did commend those
that were apt and ready so to do.&nbsp; <i>They have addicted
themselves to the ministry of the saints</i>.&nbsp; This
scripture, in these days, did continually run in my mind, to
encourage me, and strengthen me in this my work for God; I have
also been encouraged from several other scriptures and examples
of the godly, both specified in the word, and other ancient
histories: <i>Acts</i> viii. 4 and xviii. 24, 25, etc.; 1
<i>Pet.</i> iv. 10; <i>Rom.</i> xii. 6; <i>Fox&rsquo;s Acts</i>
and <i>Mon.</i></p>
<p><a href="#l271" id="l271">271</a>.&nbsp; Wherefore, though of myself of all the saints the
most unworthy; yet I, but with great fear and trembling at the
sight of my own weakness, did set upon the work, and did
according to my gift, and the proportion of my faith, preach that
blessed gospel that God had showed me in the holy word of truth:
which when the country understood, they came in to hear the word
by hundreds, and that from all parts, though upon sundry and
divers accounts.</p>
<p><a href="#l272" id="l272">272</a>.&nbsp; And I thank God, He gave unto me some measure of
bowels and pity for their souls, which also did put me forward to
labour, with great diligence and earnestness, to find out such a
word as might, if God would bless, lay hold of, and awaken the
conscience; in which also the good Lord had respect to the desire
of His servant; for I had not preached long, before some began to
be touched, and be greatly afflicted in their minds at the
apprehension of the greatness of their sin, and of their need of
Jesus Christ.</p>
<p><a href="#l273" id="l273">273</a>.&nbsp; But I first could not believe that God should speak
by me to the heart of any man, still counting myself unworthy;
yet those who thus were touched, would love me and have a
particular respect for me; and though I did put it from me, that
they should be awakened by me, still they would confess it, and
affirm it before the saints of God: they would also bless God for
me (unworthy wretch that I am!) and count me God&rsquo;s
instrument that showed to them the way of salvation.</p>
<p><a href="#l274" id="l274">274</a>.&nbsp; Wherefore seeing them in both their words and deeds
to be so constant, and also in their hearts so earnestly pressing
after the knowledge of Jesus Christ, rejoicing that ever God did
send me where they were; then I began to conclude it might be so,
that God had owned in His work such a foolish one as I; and then
came that word of God to my heart, with much sweet refreshment,
<i>The blessing of him that was ready to perish</i>, <i>is come
upon me</i>; <i>and I caused the widow&rsquo;s heart to sing for
joy</i>.&nbsp; Job xxix. 13.</p>
<p><a href="#l275" id="l275">275</a>.&nbsp; At this therefore I rejoiced; yea, the tears of
those whom God did awaken by my preaching, would be both solace
and encouragement to me: for I thought on those sayings, <i>Who
is He then that maketh me glad</i>, <i>but the same which is made
sorry by Me</i>?&nbsp; 2 Cor. ii. 2.&nbsp; And again, <i>If I be
not an Apostle to others</i>, <i>yet doubtless</i>, <i>I am unto
you</i>: <i>for the seal of mine apostleship are ye in the
Lord</i>.&nbsp; 1 Cor. ix. 2.&nbsp; These things, therefore, were
as another argument unto me, that God had called me to, and stood
by me in this work.</p>
<p><a href="#l276" id="l276">276</a>.&nbsp; In my preaching of the word, I took special notice
of this one thing, namely, that the Lord did lead me to begin
where His word begins with sinners; that is, to condemn all
flesh, and to open and allege, that the curse of God by the law,
doth belong to, and lay hold on all men as they come into the
world, because of sin.&nbsp; Now this part of my work I fulfilled
with great sense; for the terrors of the law, and guilt for my
transgressions, lay heavy on my conscience: I preached what I
felt, what I smartingly did feel; even that under which my poor
soul did groan and tremble to astonishment.</p>
<p><a href="#l277" id="l277">277</a>.&nbsp; Indeed, I have been as one sent to them from the
dead; I went myself in chains, to preach to them in chains; and
carried that fire in my own conscience, that I persuaded them to
be aware of.&nbsp; I can truly say, and that without dissembling,
that when I have been to preach, I have gone full of guilt and
terror, even to the pulpit door, and there it hath been taken
off, and I have been at liberty in my mind until I have done my
work; and then immediately, even before I could get down the
pulpit stairs, I have been as bad as I was before; yet God
carried me on, but surely with a strong hand, for neither guilt
nor hell could take me off my work.</p>
<p><a href="#l278" id="l278">278</a>.&nbsp; Thus I went on for the space of two years, crying
out against men&rsquo;s sins, and their fearful state because of
them.&nbsp; After which, the Lord came in upon my own soul, with
some staid peace and comfort through Christ; for He did give me
many sweet discoveries of His blessed grace through Him;
wherefore now I altered in my preaching (for still I preached
what I saw and felt); now therefore I did much labour to hold
forth Jesus Christ in all His offices, relations, and benefits
unto the world; and did strive also to discover, to condemn, and
remove those false supports and props on which the world doth
both lean, and by them fall and perish.&nbsp; On these things
also I staid as long as on the other.</p>
<p><a href="#l279" id="l279">279</a>.&nbsp; After this, God led me into something of the
mystery of the union of Christ; wherefore that I discovered and
showed to them also.&nbsp; And, when I had travelled through
these three chief points of the word of God, about the space of
five years or more, I was caught in my present practice, and cast
into prison, where I have lain above as long again to confirm the
truth by way of suffering, as I was before in testifying of it
according to the scriptures, in a way of preaching.</p>
<p><a href="#l280" id="l280">280</a>.&nbsp; When I have been in preaching, I thank God my heart
hath often all the time of this and the other exercise, with
great earnestness cried to God that He would make the word
effectual to the salvation of the soul; still being grieved lest
the enemy should take the word away from the conscience, and so
it should become unfruitful: wherefore I should labour to speak
the word, as that thereby, if it were possible, the sin and
person guilty might be particularized by it.</p>
<p><a href="#l281" id="l281">281</a>.&nbsp; And when I have done the exercise, it hath gone to
my heart, to think the word should now fall as rain on stony
places; still wishing from my heart, Oh! that they who have heard
me speak this day, did but see as I do, what sin, death, hell,
and the curse of God is; and also what the grace, and love, and
mercy of God is, through Christ, to men in such a case as they
are, who are yet estranged from Him.&nbsp; And indeed, I did
often say in my heart before the Lord, <i>That if to be hanged up
presently before their eyes</i>, <i>would be a means to awaken
them</i>, <i>and confirm them in the truth</i>, <i>I gladly
should be contented</i>.</p>
<p><a href="#l282" id="l282">282</a>.&nbsp; For I have been in my preaching, especially when I
have been engaged in the doctrine of life by Christ, without
works, as if an angel of God had stood by at my back to encourage
me: Oh! it hath been with such power and heavenly evidence upon
my own soul, while I have been labouring to unfold it, to
demonstrate it, and to fasten it upon the conscience of others;
that I could not be contented with saying, <i>I believe</i>,
<i>and am sure</i>; methought I was more than sure (if it be
lawful to express myself) that those things which then I
asserted, were true.</p>
<p><a href="#l283" id="l283">283</a>.&nbsp; When I first went to preach the word abroad, the
doctors and priests of the country did open wide against
me.&nbsp; But I was persuaded of this, not to render railing for
railing; but to see how many of their carnal professors I could
convince of their miserable state by the law, and of the want and
worth of Christ: for, thought I, <i>This shall answer for me in
time to come</i>, <i>when they shall be for my hire before their
face</i>.&nbsp; Gen. xxx. 33.</p>
<p><a href="#l284" id="l284">284</a>.&nbsp; I never cared to meddle with things that were
controverted, and in dispute among the saints, especially things
of the lowest nature; yet it pleased me much to contend with
great earnestness for the word of faith, and the remission of
sins by the death and sufferings of Jesus: but I say, as to other
things, I should let them alone, because I saw they engendered
strife; and because that they neither in doing, nor in leaving
undone, did commend us to God to be His: besides, I saw my work
before me did run into another channel, even to carry an
awakening word; to that therefore did I stick and adhere.</p>
<p><a href="#l285" id="l285">285</a>.&nbsp; I never endeavoured to, nor durst make use of other
men&rsquo;s lines, Rom. xv. 18 (though I condemn not all that
do), for I verily thought, and found by experience, that what was
taught me by the word and Spirit of Christ, could be spoken,
maintained, and stood to, by the soundest and best established
conscience; and though I will not now speak all that I know in
this matter, yet my experience hath more interest in that text of
scripture, Gal. i. 11, 12, than many amongst men are aware.</p>
<p><a href="#l286" id="l286">286</a>.&nbsp; If any of those who were awakened by my ministry,
did after that fall back (as sometimes too many did), I can truly
say, their loss hath been more to me, than if one of my own
children, begotten of my own body, had been going to its grave: I
think verily, I may speak it without any offence to the Lord,
nothing has gone so near me as that; unless it was the fear of
the loss of the salvation of my own soul.&nbsp; I have counted as
if I had goodly buildings and lordships in those places where my
children were born; my heart hath been so wrapped up in the glory
of this excellent work, that I counted myself more blessed and
honoured of God by this, than if He had made me the emperor of
the Christian world, or the lord of all the glory of the earth
without it!&nbsp; Oh these words!&nbsp; <i>He which converteth
the sinner from the error of his way</i>, <i>shall save a soul
from death</i>.&nbsp; James v. 20.&nbsp; <i>The fruit of the
righteous is a tree of life</i>; <i>and he that winneth souls is
wise</i>.&nbsp; Prov. xi. 30.&nbsp; <i>They that be wise shall
shine as the brightness of the firmament</i>, <i>and they that
turn many to righteousness</i>, <i>as the stars for ever and
ever</i>.&nbsp; Dan. xii. 3.&nbsp; <i>For what is our hope</i>,
<i>or joy</i>, <i>or crown of rejoicing</i>?&nbsp; <i>Are not
even ye in the presence of our Lord Jesus Christ at His
coming</i>?&nbsp; <i>For ye are our glory and joy</i>.&nbsp; 1
Thes. ii. 19, 20.&nbsp; These, I say, with many others of a like
nature, have been great refreshments to me.</p>
<p><a href="#l287" id="l287">287</a>.&nbsp; I have observed, that where I have had a work to do
for God, I have had first, as it were, the going of God upon my
spirit, to desire I might preach there: I have also observed,
that such and such souls in particular, have been strongly set
upon my heart, and I stirred up to wish for their salvation; and
that these very souls have, after this, been given in as the
fruits of my ministry.&nbsp; I have observed, that a word cast
in, by-the-bye, hath done more execution in a sermon, than all
that was spoken besides: sometimes also, when I have thought I
did no good, then I did the most of all; and at other times, when
I thought I should catch them, I have fished for nothing.</p>
<p><a href="#l288" id="l288">288</a>.&nbsp; I have also observed, that where there has been a
work to do upon sinners, there the devil hath begun to roar in
the hearts and by the mouths of his servants: yea, oftentimes,
when the wicked world hath raged most, there hath been souls
awakened by the word: I could instance particulars, but I
forbear.</p>
<p><a href="#l289" id="l289">289</a>.&nbsp; My great desire in my fulfilling my ministry was to
get into the darkest places of the country, even amongst those
people that were farthest off of profession; yet not because I
could not endure the light (for I feared not to show my gospel to
any) but because I found my spirit did lean most after awakening
and converting work, and the word that I carried did lean itself
most that way also; <i>Yea</i>, <i>so have I strived to preach
the gospel</i>, <i>not where Christ was named</i>, <i>lest I
should build upon another man&rsquo;s foundation</i>.&nbsp; Rom.
xv. 20.</p>
<p><a href="#l290" id="l290">290</a>.&nbsp; In my preaching I have really been in pain, and
have, as it were, travailed to bring forth children to God;
neither could I be satisfied unless some fruits did appear in my
work.&nbsp; If I were fruitless, it mattered not who commanded
me: but if I were fruitful, I cared not who did condemn.&nbsp; I
have thought of that: <i>Lo</i>! <i>children are an heritage of
the Lord</i>; <i>and the fruit of the womb is His
reward</i>.&mdash;<i>As arrows are in the hand of a mighty
man</i>, <i>so are children of the youth</i>.&nbsp; <i>Happy is
the man that hath his quiver full of them</i>: <i>they shall not
be ashamed</i>, <i>but they shall speak with the enemies in the
gate</i>.&nbsp; Psalm cxxvii. 3&ndash;5.</p>
<p><a href="#l291" id="l291">291</a>.&nbsp; It pleased me nothing to see people drink in
opinions, if they seemed ignorant of Jesus Christ, and the worth
of their own salvation, sound conviction for sin, especially for
unbelief, and a heart set on fire to be saved by Christ, with
strong breathings after a truly sanctified soul: that it was that
delighted me; those were the souls I counted blessed.</p>
<p><a href="#l292" id="l292">292</a>.&nbsp; But in this work, as in all other, I had my
temptations attending me, and that of divers kinds; as sometimes
I should be assaulted with great discouragement therein, fearing
that I should not be able to speak a word at all to edification;
nay, that I should not be able to speak sense unto the people; at
which times I should have such a strange faintness and
strengthlessness seize upon my body, that my legs have scarce
been able to carry me to the place of exercise.</p>
<p><a href="#l293" id="l293">293</a>.&nbsp; Sometimes again when I have been preaching, I have
been violently assaulted with thoughts of blasphemy, and strongly
tempted to speak the words with my mouth before the
congregation.&nbsp; I have also at some times, even when I have
begun to speak the word with much clearness, evidence, and
liberty of speech, yet been, before the ending of that
opportunity, so blinded and so estranged from the things I have
been speaking, and have been also so straightened in my speech,
as to utterance before the people, that I have been as if I had
not known, or remembered what I have been about; or as if my head
had been in a bag all the time of my exercise.</p>
<p><a href="#l294" id="l294">294</a>.&nbsp; Again, when as sometimes I have been about to
preach upon some smart and searching portion of the word, I have
found the tempter suggest, <i>What</i>! <i>will you preach
this</i>!&nbsp; <i>This condemns yourself</i>; <i>of this your
own soul is guilty</i>; <i>wherefore preach not of it at all</i>;
<i>or if you do</i>, <i>yet so mince it</i>, <i>as to make way
for your own escape</i>; <i>lest instead of awakening others</i>,
<i>you lay that guilt upon your own soul</i>, <i>that you will
never get from under</i>.</p>
<p><a href="#l295" id="l295">295</a>.&nbsp; But I thank the Lord, I have been kept from
consenting to these so horrid suggestions, and have rather, as
Sampson, bowed myself with all my might, to condemn sin and
transgression, wherever I found it; yea, though therein also I
did bring guilt upon my own conscience: <i>Let me die</i>
(thought I), <i>with the Philistines</i>, Judges xvi. 29, 30,
rather than deal corruptly with the blessed word of God.&nbsp;
<i>Thou that teachest another</i>, <i>teachest thou not
thyself</i>?&nbsp; It is far better that thou do judge thyself,
even by preaching plainly unto others, than that thou, to save
thyself, imprison the truth in righteousness.&nbsp; Blessed be
God for His help also in this.</p>
<p><a href="#l296" id="l296">296</a>.&nbsp; I have also, while found in this blessed work of
Christ, been often tempted to pride and liftings up of heart: and
though I dare not say, I have not been affected with this, yet
truly the Lord of His precious mercy, hath so carried it towards
me, that for the most part I have had but small joy to give way
to such a thing: for it hath been my every day&rsquo;s portion to
be let into the evil of my own heart, and still made to see such
a multitude of corruptions and infirmities therein, that it hath
caused hanging down of the head under all my gifts and
attainments; I have felt this thorn in the flesh, 2 Cor. xii. 8,
9, the very mercy of God to me.</p>
<p><a href="#l297" id="l297">297</a>.&nbsp; I have also had, together with this, some notable
place or other of the word presented before me, which word hath
contained in it some sharp and piercing sentence concerning the
perishing of the soul, notwithstanding gifts and parts: as, for
instance, that hath been of great use to me: <i>Though I speak
with the tongues of men and angels</i>, <i>and have not
charity</i>, <i>I am become as sounding brass</i>, <i>and a
tinkling cymbal</i>.&nbsp; 1 Cor. xiii. 1, 2.</p>
<p><a href="#l298" id="l298">298</a>.&nbsp; A tinkling cymbal is an instrument of music, with
which a skilful player can make such melodious and
heart-inflaming music, that all who hear him play, can scarcely
hold from dancing; and yet behold the cymbal hath not life,
neither comes the music from it, but because of the art of him
that plays therewith; so then the instrument at last may come to
nought and perish, though in times past such music hath been made
upon it.</p>
<p><a href="#l299" id="l299">299</a>.&nbsp; Just thus I saw it was, and will be, with them who
have gifts, but want saving grace; they are in the hand of
Christ, as the cymbal in the hand of <i>David</i>: and as
<i>David</i> could with the cymbal make that mirth in the service
of God, as to elevate the hearts of the worshippers, so Christ
can use these gifted men, as with them to affect the souls of His
people in His church; yet when He hath done all, hang them by, as
lifeless, though sounding cymbals.</p>
<p><a href="#l300" id="l300">300</a>.&nbsp; This consideration therefore, together with some
others, were for the most part, as a maul on the head of pride,
and desire of vain-glory.&nbsp; What, thought I, shall I be proud
because I am a sounding brass?&nbsp; Is it so much to be a
fiddle? hath not the least creature that hath life, more of God
in it than these?&nbsp; Besides, I knew &rsquo;twas love should
never die, but these must cease and vanish: so I concluded, a
little grace, a little love, a little of the true fear of God, is
better than all the gifts: yea, and I am fully convinced of it,
that it is possible for souls that can scarce give a man an
answer, but with great confusion as to method; I say, it is
possible for them to have a thousand times more grace, and so to
be more in the love and favour of the Lord, than some who by the
virtue of the gift of knowledge, can deliver themselves like
angels.</p>
<p><a href="#l301" id="l301">301</a>.&nbsp; Thus therefore I came to perceive that, though
gifts in themselves were good, to the thing for which they are
designed, to wit, the edification of others; yet empty, and
without power to save the soul of him that hath them, if they be
<i>alone</i>: neither are they, as so, any sign of a man&rsquo;s
state to be happy, being only a dispensation of God to some, of
whose improvement, or non-improvement, they must when a little
love more is over, give an account to Him that is ready to judge
the quick and the dead.</p>
<p><a href="#l302" id="l302">302</a>.&nbsp; This showed me too, that gifts being alone, were
dangerous, not in themselves, but because of those evils that
attend them that have them, to wit, pride, desire of vain glory,
self-conceit, etc., all which were easily blown up at the
applause and commendation of every unadvised Christian, to the
endangering of a poor creature to fall into the condemnation of
the devil.</p>
<p><a href="#l303" id="l303">303</a>.&nbsp; I saw therefore that he that hath gifts, had need
be let into a sight of the nature of them, to wit, that they come
short of making of him to be in a truly saved condition, lest he
rest in them, and so fall short of the grace of God.</p>
<p><a href="#l304" id="l304">304</a>.&nbsp; He hath cause also to walk humbly with God and be
little in his own eyes, and to remember withal, that his gifts
are not his own, but the churches; and that by them he is made a
servant to the church; and he must also give at last an account
of his stewardship unto the Lord Jesus, and to give a good
account will be a blessed thing.</p>
<p><a href="#l305" id="l305">305</a>.&nbsp; Let all men therefore prize a little with the fear
of the Lord (gifts indeed are desirable), but yet great grace and
small gifts are better than great gifts and no grace.&nbsp; It
doth not say, the Lord gives gifts and glory, but the Lord gives
grace and glory; and blessed is such an one, to whom the Lord
gives grace, true grace; for that is a certain forerunner of
glory.</p>
<p><a href="#l306" id="l306">306</a>.&nbsp; But when Satan perceived that his thus tempting and
assaulting of me, would not answer his design; to wit, to
overthrow the ministry, and make it ineffectual, as to the ends
thereof: then he tried another way, which was, to stir up the
minds of the ignorant and malicious to load me with slanders and
reproaches: now therefore I may say, that what the devil could
devise, and his instruments invent, was whirled up and down the
country against me, thinking, as I said, that by that means they
should make my ministry to be abandoned.</p>
<p><a href="#l307" id="l307">307</a>.&nbsp; It began therefore to be rumoured up and down among
the people, that I was a witch, a Jesuit, a highwayman, and the
like.</p>
<p style="text-align: center">
<a href="https://dl.dropboxusercontent.com/u/9219059/luk3thomas.com/books/grace-abounding/p109b.jpg">
<img alt=
"Bunyan is looked on with Suspicion"
title=
"Bunyan is looked on with Suspicion"
src="https://dl.dropboxusercontent.com/u/9219059/luk3thomas.com/books/grace-abounding/p109s.jpg" />
</a></p>
<p><a href="#l308" id="l308">308</a>.&nbsp; To all which, I shall only say, God knows that I am
innocent.&nbsp; But as for mine accusers, let them provide
themselves to meet me before the tribunal of the Son of God,
there to answer for all these things (with all the rest of their
iniquities) unless God shall give them repentance for them, for
the which I pray with all my heart.</p>
<p><a href="#l309" id="l309">309</a>.&nbsp; But that which was reported with the boldest
confidence, was, that I had my <i>misses</i>, my <i>whores</i>,
my <i>bastards</i>; yea, <i>two wives</i> at once, and the
like.&nbsp;&nbsp; Now these slanders (with the others) I glory
in, because but slanders, foolish or knavish lies, and falsehoods
cast upon me by the devil and his seed; and, should I not be
dealt with thus wickedly by the world, I should want one sign of
a saint, and a child of God.&nbsp; <i>Blessed are ye</i> (said
the Lord Jesus) <i>when men shall revile you and persecute
you</i>, <i>and shall say all manner of evil against you falsely
for My sake</i>; <i>rejoice and be exceeding glad</i>, <i>for
great is your reward in heaven</i>, <i>for so persecuted they the
prophets which were before you</i>.&nbsp; Matt. iv. 11.</p>
<p><a href="#l310" id="l310">310</a>.&nbsp; These things therefore, upon mine own account,
trouble me not; no, though they were twenty times more than they
are.&nbsp; I have a good conscience, and whereas they speak evil
of me, as an evil-doer, they shall be ashamed that falsely accuse
my good conversation in Christ.</p>
<p><a href="#l311" id="l311">311</a>.&nbsp; So then, what shall I say to those who have thus
bespattered me?&nbsp; Shall I threaten them?&nbsp; Shall I chide
them?&nbsp; Shall I flatter them?&nbsp; Shall I entreat them to
hold their tongues?&nbsp; No, not I.&nbsp; Were it not for that
these things make them ripe for damnation, that are the authors
and abettors, I would say unto them, <i>Report it</i>, because
&rsquo;twill increase my glory.</p>
<p><a href="#l312" id="l312">312</a>.&nbsp; Therefore I bind these lies and slanders to me as
an ornament; it belongs to my Christian profession to be
vilified, slandered, reproached and reviled; and since all this
is nothing else, as my God and my conscience do bear me witness,
I rejoice in reproaches for Christ&rsquo;s sake.</p>
<p><a href="#l313" id="l313">313</a>.&nbsp; I also call all these fools or knaves, that have
thus made it any thing of their business to affirm any of the
things afore-named of me; namely, That I have been naught with
other women, or the like.&nbsp; When they have used the utmost of
their endeavours, and made the fullest inquiry that they can, to
prove against me truly, that there is any woman in heaven, or
earth, or hell, that can say, I have at any time, in any place,
by day or night, so much as attempted to be naught with them; and
speak I thus to beg my enemies into a good esteem of me?&nbsp;
No, not I: I will in this beg belief of no man: believe or
disbelieve me in this, all is a-case to me.</p>
<p><a href="#l314" id="l314">314</a>.&nbsp; My foes have missed their mark in this shooting at
me: I am not the man: I wish that they themselves be
guiltless.&nbsp; If all the fornicators and adulterers in
<i>England</i> were hanged up by the neck till they be dead,
<i>John Bunyan</i>, the object of their envy, would be still
alive and well.&nbsp; I know not whether there be such a thing as
a woman breathing under the copes of the whole heaven, but by
their apparel, their children, or by common fame, except my
wife.</p>
<p><a href="#l315" id="l315">315</a>.&nbsp; And in this I admire the wisdom of God, that He
made me shy of women from my first conversion until now.&nbsp;
Those shy of women know, and can also bear me witness, with whom
I have been most intimately concerned, that it is a rare thing to
see me carry it pleasant towards a woman: the common salutation
of women I abhor; &rsquo;tis odious to me in whomsoever I see
it.&nbsp; Their company alone, I cannot away with; I seldom so
much as touch a woman&rsquo;s hand; for I think these things are
not so becoming me.&nbsp; When I have seen good men salute those
women that they have visited, or that have visited them, I have
at times made my objection against it; and when they have
answered, that it was but a piece of civility, I have told them,
it is not a comely sight.&nbsp; Some indeed have urged the holy
kiss; but then I have asked why they made baulks? why they did
salute the most handsome, and let the ill-favoured go?&nbsp;
Thus, how laudable soever such things have been in the eyes of
others, they have been unseemly in my sight.</p>
<p><a href="#l316" id="l316">316</a>.&nbsp; And now for a wind-up in this matter, I calling not
only men, but angels, to prove me guilty of having carnally to do
with any woman save my wife: nor am I afraid to do it a second
time; knowing that it cannot offend the Lord in such a case, to
call God for a record upon my soul, that in these things I am
innocent.&nbsp; Not that I have been thus kept, because of any
goodness in me, more than any other; but God has been merciful to
me, and has kept me; to whom I pray that He will keep me still,
not only <a name="page169"></a><span class="pagenum">p.
169</span>from this, but every evil way and work, and preserve me
to His heavenly kingdom.&nbsp; <i>Amen</i>.</p>
<p><a href="#l317" id="l317">317</a>.&nbsp; Now as Satan laboured by reproaches and slanders,
to make me vile among my countrymen; that, if possible, my
preaching might be made of none effect; so there was added
hereto, a long and tedious imprisonment, that thereby I might be
frightened from my service for Christ, and the world terrified,
and made afraid to hear me preach; of which I shall in the next
place give you a brief account.</p>
