---
title: Grace Abounding to the Chief of Sinners~ A Brief Account of the Author's Imprisonment
---

<p>
  <a class="prev" href="02.html">Previous</a>
  <a class="next" href="04.html">Next</a>
</p>

<h2>A Brief Account of the Author&rsquo;s Imprisonment</h2>
<p><a href="#l318" id="l318">318</a>.&nbsp; Having made profession of the glorious gospel of
Christ a long time, and preached the same about five years, I was
apprehended at a meeting of good people in the country (among
whom, had they let me alone, I should have preached that day, but
they took me away from amongst them), and had me before a
justice; who, after I had offered security for my appearing at
the next sessions, yet committed me, because my sureties would
not consent to be bound that I should preach no more to the
people.</p>
<p><a href="#l319" id="l319">319</a>.&nbsp; At the sessions after I was indicted for an
upholder and maintainer of unlawful assemblies and conventicles,
and for not conforming to the national worship of the church of
<i>England</i>; and after some conference there with the
justices, they taking my plain dealing with them for a
confession, as they termed it, <i>of the indictment</i>, <i>did
sentence me to a perpetual banishment</i>, <i>because I refused
to conform</i>.&nbsp; So being again delivered up to the
jailer&rsquo;s hands, I was had home to prison, and there have
lain now complete twelve years, waiting to see what God would
suffer these men to do with me.</p>
<p><a href="#l320" id="l320">320</a>.&nbsp; In which condition I have continued with much
content, through grace, but have met with many turnings and
goings upon my heart, both from the Lord, Satan, and my own
corruptions; by all which (glory be to Jesus Christ) I have also
received among many things, much conviction, instruction, and
understanding, of which at large I shall not here discourse; only
give you a hint or two, a word that may stir up the godly to
bless God, and to pray for me; and also to take encouragement,
should the case be their own&mdash;<i>not to fear what man can do
unto them</i>.</p>
<p><a href="#l321" id="l321">321</a>.&nbsp; I never had in all my life so great an inlet into
the word of God as now: those scriptures that I saw nothing in
before, are made in this place and state to shine upon me; Jesus
Christ also was never more real and apparent than now; here I
have seen and felt Him indeed: Oh! that word, <i>We have not
preached unto you cunningly devised fables</i>, 2 Pet. i. 16, and
that, <i>God raised Christ from the dead</i>, <i>and gave Him
glory</i>, <i>that our faith and hope might be in God</i> 1 Pet.
i. 21, were blessed words unto me in this my imprisoned
condition.<br />
</p>
<p><a href="#l322" id="l322">322</a>.&nbsp; These three or four scriptures also have been great
refreshments in this condition to me: John xiv. 1&ndash;4; John
xvi. 33; Col. iii. 3, 4; Heb. xii. 22&ndash;24.&nbsp; So that
sometimes when I have been in the savour of them, I have been
able to laugh at destruction, <i>and to fear neither the horse
nor his rider</i>.&nbsp; I have had sweet sights of the
forgiveness of my sins in this place, and of my being with Jesus
in another world: <i>Oh</i>! <i>the mount Sion</i>, <i>the
heavenly Jerusalem</i>, <i>the innumerable company of angels</i>,
<i>and God the Judge of all</i>, <i>and the spirits of just men
made perfect</i>, <i>and Jesus</i>, have been sweet unto me in
this place: I have seen that here, that I am persuaded I shall
never, while in this world, be able to express: I have seen a
truth in this scripture, <i>Whom having not seen</i>, <i>ye
love</i>; <i>in whom</i>, <i>though now you see Him not</i>,
<i>yet believing</i>, <i>ye rejoice with joy unspeakable</i>,
<i>and full of glory</i>.&nbsp; 1 Pet. i. 8.</p>
<p><a href="#l323" id="l323">323</a>.&nbsp; I never knew what it was for God to stand by me at
all turns, and at every offer of Satan to afflict me, etc., as I
have found Him since I came in hither: for look how fears have
presented themselves, so have supports and encouragements; yea,
when I have started, even as it were, at nothing else but my
shadow, yet God, as being very tender of me, hath not suffered me
to be molested, but would with one scripture or another,
strengthen me against all; insomuch that I have often said,
<i>were it lawful</i>, <i>I could pray for greater trouble</i>,
<i>for the greater comfort&rsquo;s sake</i>.&nbsp; Eccl. vii. 14;
2 Cor. i. 5.</p>
<p><a href="#l324" id="l324">324</a>.&nbsp; Before I came to prison, I saw what was coming, and
had especially two considerations warm upon my heart; the first
was, how to be able to encounter death, should that be here my
portion.&nbsp; For the first of these, that scripture, Col. i.
11, was great information to me, namely, to pray to God <i>to be
strengthened with all might</i>, <i>according to His glorious
power</i>, <i>unto all patience and long-suffering with
joyfulness</i>.&nbsp; I could seldom go to prayer before I was
imprisoned; but for not so little as a year together, this
sentence, or sweet petition would, as it were, thrust itself into
my mind, and persuade me, that if ever I would go through
long-suffering, I must have all patience, especially if I would
endure it joyfully.</p>
<p><a href="#l325" id="l325">325</a>.&nbsp; As to the second consideration, that saying (2 Cor.
i. 9) was of great use to me, <i>But we had the sentence of death
in ourselves</i>, <i>that we should not trust in ourselves</i>,
<i>but in God</i>, <i>which raiseth the dead</i>.&nbsp; By this
scripture I was made to see, That if ever I would suffer rightly,
I must first pass a sentence of death upon every thing that can
properly be called a thing of this life, even to reckon myself,
my wife, my children, my health, my enjoyments, and all as dead
to me, and myself as dead to them.</p>
<p><a href="#l326" id="l326">326</a>.&nbsp; The second was to live upon God that is invisible,
as Paul said in another place; the way not to faint is, <i>To
look not on the things that are seen</i>, <i>but at the things
that are not seen</i>; <i>for the things that are seen are
temporal</i>, <i>but the things that are not seen are
eternal</i>.&nbsp; And thus I reasoned with myself, if I provide
only for a prison, then the whip comes at unawares; and so doth
also the pillory: Again, if I only provide for these, then I am
not fit for banishment.&nbsp; Further, if I conclude that
banishment is the worst, then if death comes, I am surprised: so
that I see, the best way to go through sufferings, is to trust in
God through Christ, as touching the world to come; and as
touching this world, <i>to count the grave my house</i>, <i>to
make my bed in darkness</i>; <i>to say to corruption</i>, <i>Thou
art my father</i>, <i>and to the worm</i>, <i>Thou art my mother
and sister</i>: that is, to familiarize these things to me.</p>
<p><a href="#l327" id="l327">327</a>.&nbsp; But notwithstanding these helps, I found myself a
man and compassed with infirmities; the parting with my wife and
poor children, hath often been to me in this place, as the
pulling the flesh from the bones, and that not only because I am
somewhat too fond of these great mercies, but also because I
should have often brought to my mind the many hardships,
miseries, and wants that my poor family was like to meet with,
should I be taken from them, especially my poor blind child, who
lay nearer my heart than all besides: Oh! the thoughts of the
hardship I thought my poor blind one might go under, would break
my heart to pieces.</p>
<p style="text-align: center">
<a href="//dl.dropboxusercontent.com/u/9219059/luk3thomas.com/books/grace-abounding/p174b.jpg">
<img alt=
"Bunyan Parting with his Wife and Children"
title=
"Bunyan Parting with his Wife and Children"
src="//dl.dropboxusercontent.com/u/9219059/luk3thomas.com/books/grace-abounding/p174s.jpg" />
</a></p>
<p><a href="#l328" id="l328">328</a>.&nbsp; Poor child! thought I, what sorrow art thou like to
have for thy portion in this world!&nbsp; Thou must be beaten,
must beg, suffer hunger, cold, nakedness, and a thousand
calamities, though I cannot now endure the wind should blow upon
thee.&nbsp; But yet recalling myself, thought I, I must venture
you all with God, though it goeth to the quick to leave you: Oh!
I saw in this condition I was as a man who was pulling down his
house upon the head of his wife and children; yet, thought I, I
must do it, I must do it: and now I thought on those <i>two milch
kine that were to carry the ark of God into another country</i>,
<i>and to leave their calves behind them</i>.&nbsp; 1 Sam. vi.
10&ndash;12.</p>
<p><a href="#l329" id="l329">329</a>.&nbsp; But that which helped me in this temptation, was
divers considerations, of which, three in special here I will
name, the first was the consideration of these two scriptures,
<i>Leave thy fatherless children</i>, <i>I will preserve them
alive</i>, <i>and let thy widows trust in me</i>: and again,
<i>The Lord said</i>, <i>Verily it shall be well with thy
remnant</i>, <i>verily</i>, <i>I will cause the enemy to entreat
thee well in the time of evil</i>, <i>and in time of
affliction</i>.&nbsp; Jer. xlix. 11; xv. 11.</p>
<p><a href="#l330" id="l330">330</a>.&nbsp; I had also this consideration, that if I should not
venture all for God, I engaged God to take care of my
concernments: but if I forsook Him and His ways, for fear of any
trouble that should come to me or mine, then I should not only
falsify my profession, but should count also that my concernments
were not so sure, if left at God&rsquo;s feet, whilst I stood to
and for His name, as they would be if they were under my own
care, though with the denial of the way of God.&nbsp; This was a
smarting consideration, and as spurs unto my flesh.&nbsp; That
scripture also greatly helped it to fasten the more upon me,
where Christ prays against Judas, that God would disappoint him
in his selfish thoughts, which moved him to sell his
Master.&nbsp; Pray read it soberly: Psalm cix. 6&ndash;8,
etc.</p>
<p><a href="#l331" id="l331">331</a>.&nbsp; I had also another consideration, and that was, the
dread of the torments of hell, which I was sure they must partake
of that for fear of the cross, do shrink from their profession of
Christ, His words and laws before the sons of men: I thought also
of the glory that He had prepared for those that in faith, and
love, and patience, stood to His ways before them.&nbsp; These
things, I say, have helped me, when the thoughts of the misery
that both myself and mine, might for the sake of my profession be
exposed to, hath lain pinching on my mind.</p>
<p><a href="#l332" id="l332">332</a>.&nbsp; When I have indeed conceited that I might be
banished for my profession, then I have thought of that
scripture: <i>They were stoned</i>, <i>they were sawn
asunder</i>, <i>were tempted</i>, <i>were slain with the
sword</i>, <i>they wandered about in sheep-skins</i>, <i>and
goat-skins</i>, <i>being destitute</i>, <i>afflicted</i>,
<i>tormented</i>, <i>of whom the world was not worthy</i>; for
all they thought they were too bad to dwell and abide amongst
them.&nbsp; I have also thought of that saying, <i>the Holy Ghost
witnesseth in every city</i>, <i>that bonds and afflictions abide
me</i>.&nbsp; I have verily thought that <i>my</i> soul and
<i>it</i> have sometimes reasoned about the sore and sad estate
of a banished and exiled condition, how they were exposed to
hunger, to cold, to perils, to nakedness, to enemies, and a
thousand calamities; and at last, it may be, to die in a ditch,
like a poor and desolate sheep.&nbsp; But I thank God, hitherto I
have not been moved by these most <i>delicate</i> reasonings, but
have rather, by them, more approved my heart to God.</p>
<p><a href="#l333" id="l333">333</a>.&nbsp; I will tell you a pretty business:&mdash;I was once
above all the rest, in a very sad and low condition for many
weeks; at which time also, I being but a young prisoner, and not
acquainted with the laws, had this lying much upon my spirits,
<i>that my imprisonment might end at the gallows for ought that I
could tell</i>.&nbsp; Now therefore Satan laid hard at me, to
beat me out of heart, by suggesting thus unto me: <i>But how
if</i>, <i>when you come indeed to die</i>, <i>you should be in
this condition</i>; <i>that is</i>, <i>as not to savour the
things of God</i>, <i>nor to have any evidence upon your soul for
a better state hereafter</i>? (for indeed at that time all the
things of God were hid from my soul).</p>
<p><a href="#l334" id="l334">334</a>.&nbsp; Wherefore, when I at first began to think of this,
it was a great trouble to me; for I thought with myself, that in
the condition I now was in, I was not fit to die, neither indeed
did I think I could, if I should be called to it; besides, I
thought with myself, if I should make a scrambling shift to
clamber up the ladder, yet I should either with quaking, or other
symptoms of fainting, give occasion to the enemy to reproach the
way of God and His people for their timorousness.&nbsp; This,
therefore, lay with great trouble upon me, for methought I was
ashamed to die with a pale face, and tottering knees, in such a
cause as this.</p>
<p><a href="#l335" id="l335">335</a>.&nbsp; Wherefore I prayed to God that He would comfort me,
and give me strength to do and suffer me what He should call me
to; yet no comfort appeared, but all continued hid: I was also at
this time, so really possessed with the thought of death, that
oft I was as if I was on a ladder with the rope about my neck;
only this was some encouragement to me; I thought I might now
have an opportunity to speak my last words to a multitude, which
I thought would come to see me die; and, thought I, if it must be
so, if God will but convert one soul by my very last words, I
shall not count my life thrown away, nor lost.</p>
<p><a href="#l336" id="l336">336</a>.&nbsp; But yet all the things of God were kept out of my
sight, and still the tempter followed me with, <i>But whither
must you go when you die</i>? <i>what will become of you</i>?
<i>where will you be found in another world</i>? <i>what evidence
have you for heaven and glory</i>, <i>and an inheritance among
them that are sanctified</i>?&nbsp; Thus was I tossed for many
weeks, and knew not what to do; at last this consideration fell
with weight upon me, <i>that it was for the word and way of God
that I was in this condition</i>, <i>Wherefore I was engaged not
to flinch an hair&rsquo;s breadth from it</i>.</p>
<p><a href="#l337" id="l337">337</a>.&nbsp; I thought also, that God might choose whether He
would give me comfort now, or at the hour of death; but I might
not therefore choose whether I would hold my profession or no: I
was bound, but He was free; yea, &rsquo;twas my duty to stand to
His word, whether He would ever look upon me or save me at the
last: wherefore, thought I, save the point being thus, I am for
going on, and venturing my eternal state with Christ, whether I
have comfort here or no; if God doth not come in, thought I, <i>I
will leap off the ladder even blindfold into eternity</i>,
<i>sink or swim</i>, <i>come heaven</i>, <i>come hell</i>,
<i>Lord Jesus</i>, <i>if Thou wilt catch me</i>, <i>do</i>; <i>if
not</i>, <i>I will venture for Thy name</i>.</p>
<p><a href="#l338" id="l338">338</a>.&nbsp; I was no sooner fixed in this resolution, but the
word dropped upon me, <i>Doth Job serve God for nought</i>?&nbsp;
As if the accuser had said, <i>Lord</i>, <i>Job is no upright
man</i>, <i>he serves Thee for bye-respects</i>: <i>hast Thou not
made an hedge about him</i>, <i>etc.</i>&nbsp; <i>But put forth
now Thine hand</i>, <i>and touch all that he hath</i>,
<i>and</i>, <i>he will curse Thee to Thy face</i>.&nbsp; How now!
thought I, is this the sign of an upright soul, to desire to
serve God, when all is taken from him?&nbsp; Is he a
godly man that will serve God for nothing, rather than give
out!&nbsp; Blessed be God! then I hope I have an upright heart,
for I am resolved (God giving me strength) never to deny my
profession, though I have nothing at all for my pains: and as I
was thus considering, that scripture was set before me: Psalm
xliv. 12, etc.</p>
<p><a href="#l339" id="l339">339</a>.&nbsp; Now was my heart full of comfort; for I hoped it
was sincere: I would not have been without this trial for much; I
am comforted every time I think of it, and I hope I shall bless
God for ever, for the teaching I have had by it.&nbsp; Many more
of the dealings towards me I might relate, <i>But these out of
the spoils won in battle I have dedicated to maintain the house
of God</i>.&nbsp; 1 Chron. xxvi. 27.</p>
