---
title: Grace Abounding to the Chief of Sinners~ Conclusion
---

<p>
  <a class="prev" href="03.html">Previous</a>
  <a class="next" href="05.html">Next</a>
</p>

<h2>The Conclusion</h2>
<p><a href="#l1" id="l1">1</a>.&nbsp; <span class="smcap">Of</span> all the temptations
that ever I met with in my life, to question the being of God,
and truth of His gospel is the worst, and the worst to be borne;
when this temptation comes, it takes away my girdle from me, and
removeth the foundation from under me: Oh! I have often thought
of that word, <i>Have your loins girt about with truth</i>; and
of that, <i>When the foundations are destroyed</i>, <i>what can
the righteous do</i>?</p>
<p><a href="#l2" id="l2">2</a>.&nbsp; Sometimes, when after sin committed, I have looked
for sore chastisement from the hand of God, the very next that I
have had from Him, hath been the discovery of His grace.&nbsp;
Sometimes when I have been comforted, I have called myself a fool
for my so sinking under trouble.&nbsp; And then again, when I
have been cast down, I thought I was not wise, to give such way
to comfort; with such strength and weight have both these been
upon me.</p>
<p><a href="#l3" id="l3">3</a>.&nbsp; I have wondered much at this one thing, that though
God doth visit my soul with never so blessed a discovery of
Himself, yet I have found again, that such hours have attended me
afterwards, that I have been in my spirit so filled with
darkness, that I could not so much as once conceive what that God
and that comfort was, with which I have been refreshed.</p>
<p><a href="#l4" id="l4">4</a>.&nbsp; I have sometimes seen more in a line of the Bible,
than I could well tell how to stand under; and yet at another
time, the whole Bible hath been to me as dry as a stick; or
rather, My heart hath been so dead and dry unto it, that I could
not conceive the refreshment, though I have looked it all
over.</p>
<p><a href="#l5" id="l5">5</a>.&nbsp; Of all fears, they are best that are made by the
blood of Christ; and of all joy, that is the sweetest that is
mixed with mourning over Christ: Oh! it is a goodly thing to be
on our knees, with Christ in our arms, before God: I hope I know
something of these things.</p>
<p><a href="#l6" id="l6">6</a>.&nbsp; I find to this day seven abominations in my heart: 1.
Inclining to unbelief; 2. Suddenly to forget the love and mercy
that Christ manifesteth; 3. A leaning to the works of the law; 4.
Wanderings and coldness in prayer; 5. To forget to watch for that
I pray for; 6. Apt to murmur because I have no more, and yet
ready to abuse what I have; 7. I can do none of those things
which God commands me, but my corruptions will thrust in
themselves.&nbsp; When I would do good, evil is present with
me.</p>
<p><a href="#l7" id="l7">7</a>.&nbsp; These things I continually see and feel, and am
afflicted and oppressed with, yet the wisdom of God doth order
them for my good; 1. They make me abhor myself; 2. They keep me
from trusting my heart; 3. They convince me of the insufficiency
of all inherent righteousness; 4. They show me the necessity of
flying to Jesus; 5. They press me to pray unto God; 6. They show
me the need I have to watch and be sober; 7. And provoke me to
pray unto God, through Christ, to help me, and carry me through
this world.</p>
