---
title: Grace Abounding to the Chief of Sinners~ A Continuation
---
<p>
  <a class="prev" href="05.html">Previous</a>
  <a class="next" href="07.html">Next</a>
</p>

<h2>A Continuation of Mr Bunyan&rsquo;s Life</h2>
<h3>Beginning where he
left off, and concluding with the Time and Manner of his
Death and Burial: together with his true Character,
etc.</h3>
<p><span class="smcap">Reader</span>, the painful and industrious
author of this book, has already given you a faithful and very
moving relation of the beginning and middle of the days of his
pilgrimage on earth; and since there yet remains somewhat worthy
of notice and regard, which occurred in the last scene of his
life, the which, for want of time, or fear, some over-censorious
people should impute it to him as an earnest coveting of praise
from men, he has not left behind him in writing.&nbsp; Wherefore,
as a true friend, and long acquaintance of Mr
<i>Bunyan&rsquo;s</i> that his good end may be known, as well as
his evil beginning, I have taken upon me, from my knowledge, and
the best account given by other of his friends, to piece this to
the thread too soon broke off, and so lengthen it out to his
entering upon eternity.</p>
<p>He has told you at large, of his birth and education; the evil
habits and corruptions of his youth; the temptations he struggled
and conflicted so frequently with, the mercies, comforts, and
deliverances he found, how he came to take upon him the preaching
of the Gospel; the slanders, reproaches and imprisonments that
attended him, and the progress he notwithstanding made (by the
assistance of God&rsquo;s grace) no doubt to the saving of many
souls: therefore take these things, as he himself hath
methodically laid them down in the words of verity; and so I pass
on to what remains.</p>
<p>After his being freed from his twelve years&rsquo;
imprisonment and upwards, for nonconformity, wherein he had time
to furnish the world with sundry good books, etc., and by his
patience, to move <i>Dr Barlow</i>, the then Bishop of
<i>Lincoln</i>, and other church-men, to pity his hard and
unreasonable sufferings, so far as to stand very much his
friends, in procuring his enlargement, or there perhaps he had
died, by the noisomeness and ill usage of the place.&nbsp; Being
now, I say, again at liberty, and having through mercy shaken off
his bodily fetters,&mdash;for those upon his soul were broken
before by the abounding grace that filled his heart,&mdash;he
went to visit those that had been a comfort to him in his
tribulation, with a Christian-like acknowledgment of their
kindness and enlargement of charity; giving encouragement by his
example, if it happened to be their hard haps to fall into
affliction or trouble, then to suffer patiently for the sake of a
good conscience, and for the love of God in Jesus Christ towards
their souls, and by many cordial persuasions, supported some
whose spirits began to sink low, through the fear of danger that
threatened their worldly concernment, so that the people found a
wonderful consolation in his discourse and admonitions.</p>
<p>As often as opportunity would admit, he gathered them together
(though the law was then in force against meetings) in convenient
places, and fed them with the sincere milk of the Word, that they
might grow up in grace thereby.&nbsp; To such as were anywhere
taken and imprisoned upon these accounts, he made it another part
of his business to extend his charity, and gather relief for such
of them as wanted.</p>
<p>He took great care to visit the sick, and strengthen them
against the suggestions of the tempter, which at such times are
very prevalent; so that they had cause for ever to bless God, Who
had put it into his heart, at such a time, to rescue them from
the power of the roaring lion, who sought to devour them; nor did
he spare any pains or labour in travel, though to remote
counties, where he knew or imagined any people might stand in
need of his assistance; insomuch that some, by these visitations
that he made, which was two or three every year (some, though in
a jeering manner no doubt, gave him the epithet of Bishop
<i>Bunyan</i>) whilst others envied him for his so earnestly
labouring in Christ&rsquo;s vineyard; yet the seed of the Word he
(all this while) sowed in the hearts of his congregation, watered
with the grace of God, brought forth in abundance, in bringing in
disciples to the church of Christ.</p>
<p>Another part of his time is spent in reconciling differences,
by which he hindered many mischiefs, and saved some families from
ruin, and in such fallings-out he was uneasy, till he found a
means to labour a reconciliation, and become a peace-maker, on
whom a blessing is promised in holy writ; and indeed in doing
this good office, he may be said to sum up his days, it being the
last undertaking of his life, as will appear in the close of this
paper.</p>
<p>When in the late reign, liberty of conscience was unexpectedly
given and indulged to dissenters of all persuasions, his piercing
wit penetrated the veil, and found that it was not for the
dissenters&rsquo; sakes they were so suddenly freed from the hard
prosecutions that had long lain heavy upon them, and set in a
manner, on an equal foot with the Church of <i>England</i>, which
the papists were undermining, and about to subvert: he foresaw
all the advantages that could have redounded to the dissenters
would have been no more than what <i>Polyphemus</i>, the
monstrous giant of <i>Sicily</i>, would have allowed
<i>Ulysses</i>, <i>viz.</i>: That he would eat his men first, and
do him the favour of being eaten last: for although Mr
<i>Bunyan</i>, following the examples of others, did lay hold of
this liberty, as an acceptable thing in itself, knowing God is
the only Lord of conscience, and that it is good at all times to
do according to the dictates of a good conscience, and that the
preaching the glad tidings of the Gospel is beautiful in the
preacher; yet in all this he moved with caution and a holy fear,
earnestly praying for the averting impending judgments, which he
saw, like a black tempest, hanging over our heads for our sins,
and ready to break in upon us, and that the
<i>Ninevites&rsquo;</i> remedy was now highly necessary: hereupon
he gathered his congregation at <i>Bedford</i>, where he mostly
lived, and had lived and spent the greatest part of his life; and
there being no convenient place to be had for the entertainment
of so great a confluence of people as followed him upon the
account of his teaching, he consulted with them for the building
of a meeting-house, to which they made their voluntary
contributions with all cheerfulness and alacrity; and the first
time he appeared there to edify, the place was so thronged, that
many was constrained to stay without, though the house was very
spacious, every one striving to partake of his instructions, that
were of his persuasion, and show their good-will towards him, by
being present at the opening of the place; and here he lived in
much peace and quiet of mind, contenting himself with that little
God had bestowed upon him, and sequestering himself from all
secular employments, to follow that of his call to the ministry;
for as God said to <i>Moses</i>, He that made the lips and heart,
can give eloquence and wisdom, without extraordinary acquirements
in an university.</p>
<p>During these things, there were regulators sent into all
cities and towns corporate, to new model the government in the
magistracy, etc., by turning out some, and putting in others:
against this Mr <i>Bunyan</i> expressed his zeal with some
weariness, as foreseeing the bad consequence that would attend
it, and laboured with his congregation to prevent their being
imposed on in this kind; and when a great man in those days,
coming to <i>Bedford</i> upon some such errand, sent for him, as
&rsquo;tis supposed, to give him a place of public trust, he
would by no means come at him, but sent his excuse.</p>
<p>When he was at leisure from writing and teaching, he often
came up to <i>London</i>, and there went among the congregations
of the non-conformists, and used his talent to the great
good-liking of the hearers; and even some to whom he had been
mis-represented, upon the account of his education, were
convinced of his worth and knowledge in sacred things, as
perceiving him to be a man of round judgment, delivering himself
plainly and powerfully; insomuch that many, who came mere
spectators for novelty sake rather than to edify and be improved,
went away well satisfied with what they heard, and wondered, as
the Jews did at the Apostles, <i>viz.</i>: Whence this man should
have these things; perhaps not considering that God more
immediately assists those that make it their business
industriously and cheerfully to labour in His vineyard.</p>
<p>Thus he spent his latter years in imitation of his great Lord
and Master, the ever-blessed Jesus; he went about doing good, so
that the most prying critic, or even Malice herself, is defied to
find, even upon the narrowest search or observation, any sully or
stain upon his reputation, with which he may be justly charged;
and this we note, as a challenge to those that have the least
regard for him, or them of his persuasion, and have one way or
other appeared in the front of those that oppressed him; and for
the turning whose hearts, in obedience to the commission and
commandment given him of God, he frequently prayed, and sometimes
sought a blessing for them, even with tears, the effects of
which, they may, peradventure, though undeservedly, have found in
their persons, friends, relations, or estates; for God will hear
the prayer of the faithful, and answer them, even for them that
vex them, as it happened in the case of <i>Job&rsquo;s</i>
praying for the three persons that had been grievous in their
reproach against him, even in the day of his sorrow.</p>
<p>But yet let me come a little nearer to particulars and periods
of time, for the better refreshing the memories of those that
knew his labour and suffering, and for the satisfaction of all
that shall read this book.</p>
<p>After he was sensibly convicted of the wicked state of his
life, and converted, he was baptized into the congregation, and
admitted a member thereof, <i>viz.</i>, in the year 1655, and
became speedily a very zealous professor; but upon the return of
King <i>Charles</i> to the crown in 1660, he was the 12th of
<i>November</i> taken, as he was edifying some good people that
were got together to hear the word, and confined in
<i>Bedford</i> jail for the space of six years, till the act of
Indulgence to dissenters being allowed, he obtained his freedom,
by the intercession of some in trust and power, that took pity on
his sufferings; but within six years afterwards he was again
taken up, <i>viz.</i>, in the year 1666, and was then confined
for six years more, when even the jailor took such pity of his
rigorous sufferings, that he did as the Egyptian jailor did to
<i>Joseph</i>, put all the care and trust in his hand: When he
was taken this last time, he was preaching on these words, viz.:
<i>Dost thou believe the Son of God</i>?&nbsp; And this
imprisonment continued six years, and when this was over, another
short affliction, which was an imprisonment of half a year, fell
to his share.&nbsp; During these confinements he wrote the
following books, viz.: <i>Of Prayer by the Spirit</i>: <i>The
Holy City&rsquo;s Resurrection</i>: <i>Grace Abounding</i>:
<i>Pilgrim&rsquo;s Progress</i>, the first part.</p>
<p>In the last year of his twelve years&rsquo; imprisonment, the
pastor of the congregation at <i>Bedford</i> died, and he was
chosen to that care of souls, on the 12th of <i>December</i>
1671.&nbsp; And in this his charge, he often had disputes with
scholars that came to oppose him, as supposing him an ignorant
person, and though he argued plainly, and by Scripture, without
phrases and logical expressions, yet he nonplussed one who came
to oppose him in his congregation, by demanding, Whether or no we
had the true copies of the original Scriptures; and another, when
he was preaching, accused him of uncharitableness, for saying,
<i>It was very hard for most to be saved</i>; saying, by that he
went about to exclude most of his congregation; but he confuted
him, and put him to silence with the parable of the stony ground,
and other texts out of the 13th chapter of <i>St Matthew</i>, in
our Saviour&rsquo;s sermon out of a ship; all his methods being
to keep close to the Scriptures, and what he found not warranted
there, himself would not warrant nor determine, unless in such
cases as were plain, wherein no doubts or scruples did arise.</p>
<p>But not to make any further mention of this kind, it is well
known that this person managed all his affairs with such
exactness, as if he had made it his study, above all other
things, not to give occasion of offence, but rather suffer many
inconveniences, to avoid being never heard to reproach or revile
any, what injury soever he received, but rather to rebuke those
that did; and as it was in his conversation, so it is manifested
in those books he has caused to be published to the world; where
like the archangel disputing with Satan about the body of
<i>Moses</i>, as we find it in the epistle of <i>St Jude</i>,
brings no railing accusation (but leaves the rebukers, those that
persecuted him) to the Lord.</p>
<p>In his family he kept up a very strict discipline in prayer
and exhortation; being in this like <i>Joshua</i>, as the good
man expresses it, viz., <i>Whatsoever others did</i>, <i>as for
me and my house</i>, <i>we will serve the Lord</i>: and indeed a
blessing waited on his labours and endeavours, so that his wife,
as the Psalmist says, <i>was like a pleasant vine upon the walls
of his house</i>, <i>and his children like olive branches round
his table</i>; <i>for so shall it be with the man that fears the
Lord</i>, and though by reason of the many losses he sustained by
imprisonment and spoil, of his chargeable sickness, etc., his
earthly treasure swelled not to excess; he always had sufficient
to live decently and creditably, and with that he had the
greatest of all treasures, which is content; for as the wise man
says, <i>That is a continual feast</i>.</p>
<p>But where content dwells, even a poor cottage is a kingly
palace, and this happiness he had all his life long; not so much
minding this world, as knowing he was here as a pilgrim and
stranger, and had no tarrying city, but looked for one made with
hands eternal in the highest heavens: but at length was worn out
with sufferings, age, and often teaching, the day of his
dissolution drew near, and death, that unlocks the prison of the
soul, to enlarge it for a more glorious mansion, put a stop to
his acting his part on the stage of mortality; heaven, like
earthly princes, when it threatens war, being always so kind as
to call home its ambassadors before it be denounced, and even the
last act or undertaking of his, was a labour of love and charity;
for it so falling out that a young gentleman, a neighbour of Mr
<i>Bunyan&rsquo;s</i>, happening into the displeasure of his
father, and being much troubled in mind upon that account, and
also for that he heard his father purposed to disinherit him, or
otherwise deprive him of what he had to leave; he pitched upon Mr
<i>Bunyan</i> as a fit man to make way for his submission, and
prepare his father&rsquo;s mind to receive him; and he, as
willing to do any good office, as it could be requested, as
readily undertook it; and so riding to <i>Reading</i> in
<i>Berkshire</i>, he then there used such pressing arguments and
reasons against anger and passion, as also for love and
reconciliation, that the father was mollified, and his bowels
yearned to his returning son.</p>
<p>But Mr <i>Bunyan</i>, after he had disposed all things to the
best for accommodation, returning to <i>London</i>, and being
overtaken with excessive rains, coming to his lodgings extremely
wet, fell sick of a violent fever, which he bore with much
constancy and patience, and expressed himself as if he desired
nothing more than to be dissolved, and be with Christ, in that
case esteeming death as gain, and life only a tedious delaying
felicity expected; and finding his vital strength decay, having
settled his mind and affairs, as well as the shortness of time,
and the violence of his disease would permit, with a constant and
christian patience, he resigned his soul into the hands of his
most merciful Redeemer, following his pilgrim from the City of
Destruction, to the New <i>Jerusalem</i>; his better part having
been all along <a name="page241"></a><span class="pagenum">p.
241</span>there, in holy contemplation, pantings and breathings
after the hidden manna and water of life, as by many holy and
humble consolations expressed in his letters to several persons
in prison, and out of prison, too many to be inserted at
present.&nbsp; He died at the house of one Mr <i>Struddock</i>, a
grocer, at the Star on <i>Snow Hill</i>, in the parish of <i>St
Sepulchre&rsquo;s</i>, <i>London</i>, on the 12th of
<i>August</i> 1688, and in the sixtieth year of his age, <a
name="citation241"></a><a href="#footnote241"
class="citation">[241]</a> after ten days&rsquo; sickness; and
was buried in the new burying place near the Artillery Ground;
where he sleeps to the morning of the resurrection, in hopes of a
glorious rising to an incorruptible immortality of joy and
happiness; where no more trouble and sorrow shall afflict him,
but all tears be wiped away; when the just shall be incorporated
as members of Christ their head, and reign with Him as kings and
priests for ever.</p>
