---
title: Grace Abounding to the Chief of Sinners~ A brief Character of Mr Bunyan
---

<p>
  <a class="prev" href="06.html">Previous</a>
  <a class="next" href="postscript.html">Next</a>
</p>

<h2>A brief Character of Mr John Bunyan</h2>
<p><span class="smcap">He</span> appeared in countenance to be of
a stern and rough temper, but in his conversation mild and
affable; not given to loquacity or much discourse in company,
unless some urgent occasion required it; observing never to boast
of himself or his parts, but rather seem low in his own eyes, and
submit himself to the judgment of others, abhorring lying and
swearing, being just in all that lay in his power to his word,
not seeming to revenge injuries, loving to reconcile differences,
and make friendship with all; he had a sharp quick eye,
accompanied with an excellent discerning of persons, being of
good judgment and quick wit.&nbsp; As for his person, he was tall
of stature, strong boned, though not corpulent, somewhat of a
ruddy face, with sparkling eyes, wearing his hair on his upper
lip, after the old British fashion; his hair reddish, but in his
latter days, time had sprinkled it with grey; his nose well set,
but not declining or bending, and his mouth moderate large; his
forehead somewhat high, and his habit always plain and
modest.&nbsp; And thus have we impartially described the internal
and external parts of a person, whose death hath been much
regretted; a person who had tried the smiles and frowns of time;
not puffed up in prosperity, nor shaken in adversity; always
holding the golden mean.</p>
<blockquote><p>In him at once did three great worthies shine,<br
/>
Historian, poet, and a choice divine:<br />
Then let him rest in undisturbed dust,<br />
Until the resurrection of the just.</p>
</blockquote>
