---
title: Grace Abounding to the Chief of Sinners~ Table of Contents
---
%h1 Grace Abounding to the Chief of Sinners

%ul.table-of-contents
  %li
    %a(href="preface.html") Preface
  %li
    %a(href="01.html") Grace Abounding
  %li
    %a(href="02.html") A Brief Account of the Author's Call to the Work of the Ministry
  %li
    %a(href="03.html") A Brief Account of the Author's Imprisonment

%h1 Publisher's Foreword

%p John Bunyan was born at Elstow, near Bedford, England, sometime in the fall of 1628, the first of three children born to Thomas and Margaret Bunyan. The parish register indicates that he was baptized on November 30, 1628.

%p In Grace Abounding Bunyan describes his descent as "of a low and inconsiderable generation." He had particular disdain for his father's house; to him it was "of a rank that is meanest and most despised of all the families in the land."

%p Sir Walter Scott thought John Bunyan was of gypsy descent, because his father was a traveling tinker, a mender of pots and pans. But historians view the occupation as somewhat like that of "village blacksmith." The Bunyans were not homeless; they were landowners, but of peasant stock.

%p Bunyan's schooling was of brief duration, and it wasn't long before he was assisting his father and learning the trade himself.  On his sixteenth birthday Bunyan joined Cromwell's New Model Army, introducing him to the Puritan movement. After this military stint, he settled down as a tinker ("brazier") and married at the age of twenty.

%p In 1653 Bunyan joined the Puritan Free Church in Bedford, and in 1657 he took on his first assignment as a "field preacher." At this time there were scores of men, most with little education, who were preaching to Nonconformist audiences throughout England. With the restoration of Charles II to the throne, these preachers were suspect and subject to arrest. Refusing to refrain from preaching, Bunyan was arrested in 1660 and imprisoned-for more than eleven years.

%p Grace Abounding to the Chief of Sinners, written during this imprisonment, is the spiritual autobiography of Bunyan, the traveling tinker who became the eminent preacher and author. It is in the genre of Augustine's Confessions and Thomas a Kempis's Imitation of Christ. It is not a detailed account of Bunyan's early life, for it tells us very little of his youth, education, military experiences, and marriages.

%p Written in 1666, Grace Abounding chronicles Bunyan's spiritual journey from a profane life filled with cursing, blasphemy, and Sabbath desecration to a new creation in Christ Jesus. Some commentators on Bunyan's life and work are of the opinion that Bunyan wrote too disparagingly of his early life. George Offor, editor of a three volume compilation of Bunyan's works, observes:

%p A great difference of opinion has been expressed by learned men as to whether Bunyan's account of himself is to be understood literally, as it respects his bad conduct before his conversion. or whether he views himself through a glass, by which his evil habits are magnified. No one can doubt his perfect honesty. He plainly narrates his bad, as well as his redeeming qualities; nor does his narrative appear to be exaggerated.

%p Grace Abounding is an autobiography that begins with guilt and despair and ends with a heart "full of comfort," a thankful heart for "grace abounding."

%p Those who have read both Grace Abounding and The Pilgrim's Progress will realize that The Pilgrim's Progress, in substantial measure, is the same life as that described in Grace Abounding, but in allegory rather than straightforward narrative. George Offor makes this point when he quotes a Dr. Cheever:

%p As you read the "Grace Abounding", you are ready to say at every step, Here is the future author of the "Pilgrim's Progress". It is as if you stood beside some great sculptor, and watched every movement of the chisel, having seen his design; so that at every blow some new trait of beauty in the future comes clearly into view.

%p Ernest W. Bacon, in a recent biography based on the latest historical research makes the same point:

%p The experiences he [Bunyan] records in Grace Abounding are seen in the characters of The Pilgrim's Progress, and there is little doubt that he could not have written the great allegory had he not experienced God's saving mercy recounted in the autobiography. It has an undying vitality and perpetual youth about it, is a record of Puritan experience unsurpassed, and a spiritual stimulus of great value.

%p The importance of Grace Abounding is summed up by Hugh Martin:

%p Grace Abounding is among the greatest stories of God's dealings with the human soul-to be put on the shelf beside such treasures as Augustine's Confessions, Law's Serious Call, Baxter's Autobiography, and Wesley's account of his own spiritual travail.
