---
title: Grace Abounding to the Chief of Sinners~ Table of Contents
---

%h1 Grace Abounding to the Chief of Sinners

%ul.table-of-contents
  %li
    %a(href="preface.html") Preface
  %li
    %a(href="01.html") Grace Abounding
  %li
    %a(href="02.html") A Brief Account of the Author's Call to the Work of the Ministry
  %li
    %a(href="03.html") A Brief Account of the Author's Imprisonment
  %li
    %a(href="04.html") Conclusion
  %li
    %a(href="05.html") A Relation of the Imprisonment of the Author in the Month of November 1660
  %li
    %a(href="06.html") A Continuation of the Author’s Life
  %li
    %a(href="07.html") A Brief Character of the Author
  %li
    %a(href="postscript.html") Postscript

:markdown
  ## PREFATORY NOTE

  The text in this edition is as nearly as possible that of the eighth, which
  was corrected by Bunyan himself a few weeks before his death.  The text of ‘A
  Relation’ is that of the first edition of 1765.  A few minor changes have
  been introduced for the convenience of the reader.  The use of capital
  letters has been considerably modified, and the orthography has been in
  places modernized.  In some few instances the Scripture references have been
  added to quotations where they did not appear in the original.  It must be
  remembered that Bunyan often quoted Scripture inexactly, and it has not been
  deemed necessary to make all his quotations follow the text of the Authorized
  Version.

  The marginal summary is not part of the original, but has been prepared for
  this edition in order that it may correspond with the Society’s editions of
  the ‘Pilgrim’s Progress.’

  p. 8The illustrations have been prepared for this work by Mr. Harold Copping,
  whose illustrations to the ‘Pilgrim’s Progress’ have justly attracted much
  attention.
