---
title: Grace Abounding to the Chief of Sinners~ Postscript
---

<p>
  <a class="prev" href="07.html">Previous</a>
</p>

<h2>POSTSCRIPT</h2>
<p><span class="smcap">In</span> this his pilgrimage, God blessed
him with four children, one of which, named <i>Mary</i>, was
blind, and died some years before; his other children were
<i>Thomas</i>, <i>Joseph</i>, and <i>Sarah</i>; his wife
<i>Elizabeth</i> having lived to see him overcome his labour and
sorrow, and pass from this life to receive the reward of his
work, long survived him not; but in 1692 she died, to follow her
faithful pilgrim from this world to the other, whither he was
gone before her; whilst his works, which consist of sixty books,
remain for the edifying of the reader, and praise of the
author.</p>
