---
title: Grace Abounding to the Chief of Sinners~ Preface
---

<p>
  <a class="prev" href="index.html">Previous</a>
  <a class="next" href="01.html">Next</a>
</p>

<h2>A PREFACE</h2>
<p class="gutsumm">OR, BRIEF ACCOUNT OF THE PUBLISHING THIS
WORK.&nbsp; WRITTEN BY THE AUTHOR THEREOF, AND DEDICATED TO THOSE
WHOM GOD HATH COUNTED HIM WORTHY TO BEGET TO FAITH, BY HIS
MINISTRY IN THE WORD</p>
<p><span class="smcap">Children</span>, Grace be with you.&nbsp;
<i>Amen</i>.&nbsp; I being taken from you in presence, and so
tied up that I cannot perform that duty, that from God doth lie
upon me to you-ward, for your farther edifying and building up in
faith and holiness, etc., yet that you may see my soul hath
fatherly care and desire after your spiritual and everlasting
welfare, I now once again, as before, from the top of
<i>Shenir</i> and <i>Hermon</i>, so now from <i>the lions&rsquo;
dens</i>, <i>from the mountains of the leopards</i> (Song iv. 8),
do look yet after you all, greatly longing to see your safe
arrival into THE desired Haven.</p>
<p>I thank God upon every remembrance of you; and rejoice, even
while I stick between the teeth of the lion in the wilderness,
that the grace and mercy, and knowledge of Christ our Saviour,
which God hath bestowed upon you, with abundance of faith and
love; your hungerings and thirstings after farther acquaintance
with the Father, in the Son; your tenderness of heart, your
trembling at sin, your sober and holy deportment also, before
both God and men, is a great refreshment to me; <i>For ye are our
glory and joy</i>.&nbsp; 1 Thess. ii. 20.</p>
<p>I have sent you here enclosed, a drop of that honey that I
have taken out of the carcase of a lion.&nbsp; Judg. xiv.
5&ndash;8.&nbsp; I have eaten thereof myself, and am much
refreshed thereby.&nbsp; (Temptations, when we meet them at
first, are as the lion that roared upon <i>Samson</i>; but if we
overcome them, the next time we see them, we shall find a nest of
honey within them.)&nbsp; The <i>Philistines</i> understand me
not.&nbsp; It is something of a relation of the work of God upon
my soul, even from the very first, till now, wherein you may
perceive my castings down, and risings up: for He woundeth, and
His hands make whole.&nbsp; It is written in the Scripture, Isa.
xxxviii. 19, <i>The father to the children shall make known Thy
truth</i>.&nbsp; Yea, it was for this reason I lay so long at
Sinai, Lev. iv. 10, 11, to see the fire, and the cloud, and the
darkness, <i>that I might fear the Lord all the days of my life
upon earth</i>, <i>and tell of His wondrous works to my
children</i>.&nbsp; Psalm lxxviii. 3&ndash;5.</p>
<p>Moses, Numb. xxxiii. 1, 2, writ of the journeys of the
children of <i>Israel</i>, from <i>Egypt</i> to the land of
<i>Canaan</i>; and commanded also that they did remember their
forty years&rsquo; travel in the wilderness.&nbsp; <i>Thou shalt
remember all the way which the Lord thy God led thee these forty
years in the wilderness</i>, <i>to humble thee</i>, <i>and to
prove thee</i>, <i>and to know what was in thine heart</i>,
<i>whether thou wouldst keep His commandments</i>, <i>or
no</i>.&nbsp; Deut. viii. 2.&nbsp; Wherefore this I have
endeavoured to do; and not only so, but to publish it also; that,
if God will, others may be put in remembrance of what He hath
done for their souls, by reading His work upon me.</p>
<p>It is profitable for Christians to be often calling to mind
the very beginnings of grace with their souls.&nbsp; <i>It is a
night to be much observed unto the Lord</i>, <i>for bringing them
out from the land of Egypt</i>.&nbsp; <i>This is that night of
the Lord to be observed of all the children of Israel in their
generations</i>.&nbsp; Exod. xii. 42.&nbsp; <i>O my God</i>
(saith <i>David</i>), Ps. xlii. 6, <i>my soul is cast down within
me</i>; <i>therefore will I remember thee from the land of
Jordan</i>, <i>and of the Hermonites</i>, <i>from the hill
Mizar</i>.&nbsp; He remembered also the lion and the bear, when
he went to fight with the giant of <i>Gath</i>.&nbsp; 1 Sam.
xvii. 36, 37.</p>
<p>It was <i>Paul&rsquo;s</i> accustomed manner, Acts xxii., and
that, when tried for his life, Acts xxiv., even to open before
his judges the manner of his conversion: he would think of that
day, and that hour, in which he first did meet with grace; for he
found it supported him.&nbsp; When God had brought the children
of Israel out of the Red Sea, far into the wilderness, yet they
must turn quite about thither again, to remember the drowning of
their enemies there, Numb. xiv. 25, for though they sang his
praise before, yet they soon forgat his works.&nbsp; Psalm cvi.
11, 12.</p>
<p>In this discourse of mine, you may see much; much I say, of
the grace of God towards me: I thank God, I can count it much;
for it was above my sins and Satan&rsquo;s temptations too.&nbsp;
I can remember my fears and doubts, and sad months, with comfort;
they are as the head of <i>Goliah</i> in my hand: there was
nothing to <i>David</i> like <i>Goliah&rsquo;s</i> sword, even
that sword that should have been sheathed in his bowels; for the
very sight and remembrance of that did preach forth God&rsquo;s
deliverance to him.&nbsp; Oh! the remembrance of my great sins,
of my great temptations, and of my great fear of perishing for
ever!&nbsp; They bring afresh into my mind, the remembrance of my
great help, my great supports from heaven, and the great grace
that God extended to such a wretch as I.</p>
<p>My dear children, call to mind the former days, and years of
ancient times: remember also your songs in the night, and commune
with your own Hearts, Ps. lxxiii. 5&ndash;12.&nbsp; Yea, look
diligently, and leave no corner therein unsearched for that
treasure hid, even the treasure of your first and second
experience of the grace of God towards you.&nbsp; Remember, I
say, the word that first laid hold upon you: remember your
terrors of conscience, and fear of death and hell: remember also
your tears and prayers to God; yea, how you sighed under every
hedge for mercy.&nbsp; Have you never a hill <i>Mizar</i> to
remember?&nbsp; Have you forgot the close, the milk-house, the
stable, the barn, and the like, where God did visit your
souls?&nbsp; Remember also the word, the word, I say, upon which
the Lord hath caused you to hope: if you have sinned against
light, if you are tempted to blaspheme, if you are drowned in
despair, if you think God fights against you, or if heaven is hid
from your eyes; remember it was thus with your father; <i>but out
of them all the Lord delivered me</i>.</p>
<p>I could have enlarged much in this my discourse, of my
temptations and troubles for sin; as also of the merciful
kindness and working of God with my soul: I could also have
stepped into a style much higher than this, in which I have here
discoursed, and could have adorned all things more than here I
have seemed to do, but I dare not: God did not play in tempting
of me; neither did I play, when I sunk as into the bottomless
pit, when the <i>pangs of hell caught hold upon me</i>; wherefore
I may not play in relating of them, but be plain and simple, and
lay down the thing as it was; he that liketh it, let him receive
it, and he that doth not, let him produce a better.&nbsp;
Farewell.</p>
<p>My dear Children,</p>
<p><i>The milk and honey are beyond this wilderness</i>.&nbsp;
<i>God be merciful to you</i>, <i>and grant that you be not
slothful to go in to possess the land</i>.</p>
<p style="text-align: right">JOHN BUNYAN.</p>
