<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %} {{ page.title }} {% else %} luk3thomas => [husband, dad, developer] {% endif %}</title>
    <!--
     _       _    _____ _   _                               
    | |_   _| | _|___ /| |_| |__   ___  _ __ ___   __ _ ___ 
    | | | | | |/ / |_ \| __| '_ \ / _ \| '_ ` _ \ / _` / __|
    | | |_| |   < ___) | |_| | | | (_) | | | | | | (_| \__ \
    |_|\__,_|_|\_\____/ \__|_| |_|\___/|_| |_| |_|\__,_|___/

                                         Thanks for visiting.
    -->

    <link rel="canonical" href="http://luk3thomas.com{{ page.url }}">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33894219-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <h1><a href="/">luk3thomas</a></h1>
        <h3>About me</h3>

        <p>
            <img src="/images/luk3thomas.jpg" alt="Luke Thomas" width="75" height="75" />
        </p>
        <p>
            Hi. My name is Luke Thomas. I am a 
            devout christian, husband, father of 
            two boys, and a <a href="//vecreative.net">developer</a>. I document things I learn and 
            other ramblings here. I <a href="https://twitter.com/luk3thomas">tweet</a> sometimes.
        </p>

        <h3>Side projects</h3>
        <p><a href="//teston.me">Responsive iPhone & iPad Tester [teston.me]</a></p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
