---
title: Hmm, that's an error
---

%h1 Oh noes!

:markdown
  Yup, this is an error. The page you are looking for was probably renamed and I forgot to redirect it to the new location. You can browse my [notes](#{blog_path}) or head back to the [home](/) page.

%p
  %a{href:"/"} &#x21AB; Go home 
