---
cssId: home
description: Hi, My name is Luke Thomas. I am a husband, father, and web developer living in Saint Louis, Missouri. I enjoy Ruby on Rails, JavaScript, and building software.
---

%h1 Recent Articles

#posts
  - data.posts.to_a.slice(-5, 5).reverse.each do |slug, post|
    = partial "layouts/partials/posts/post-index.haml", locals: { post: post, slug: slug }

%p
  %a#view-all{:href => "#{blog_path}"} View all &#x21AC;
