---
title: Writings
---

.categories
  - categories.each do |category|
    %h1= category
    - tags( category ).each do |tag|
      %h2= tag
      - tagged_as( tag ).each do |post|
        = partial 'layouts/partials/card', :locals => {:post => post}
