:markdown
  ## [Keypress](keypress.html)

  See your keyboard codes.


  ## [Consultant Calculator](consultant-calculator.html)

  I built this calculator for my wife's consultant business 💕.


  ## [Roman Numeral Conversion](roman-numerals.html)

  I was reading some older books and needed a tool to copy and paste blocks of
  text and convert all roman numerals to integers.
