---
layout: full
title: Convert Roman Numerals
---

%h1
  %span Convert Roman Numerals
  %a(href="#" id="sample")
    %small show example
%p
%input#input
%h1#result
%table
  %thead
    %tr
      %th Numeral
      %th Decimal
  %tbody
    %tr
      %td I
      %td 1
    %tr
      %td IV
      %td 4
    %tr
      %td V
      %td 5
    %tr
      %td IX
      %td 9
    %tr
      %td X
      %td 10
    %tr
      %td XL
      %td 40
    %tr
      %td L
      %td 50
    %tr
      %td XC
      %td 90
    %tr
      %td C
      %td 100
    %tr
      %td CD
      %td 400
    %tr
      %td D
      %td 500
    %tr
      %td CM
      %td 900
    %tr
      %td M
      %td 10000

= javascript_include_tag 'tools/numerals'
:css
  body {
    text-align: center;
  }

  input {
    width: 100%;
    padding: 1em;
    outline: none;
  }

  h1, h2, h3 {
    line-height: 1.6;
  }

  #result {
    font-weight: normal;
    padding: 2em 0;
    text-align: left;
  }

  #sample {
    outline: 0
  }

  table {
    max-width: 160px;
    margin: 0 auto;
  }

  table th:first-child ,
  table td:first-child {
    text-align: center;
  }

  table th:last-child ,
  table td:last-child {
    text-align: right;
  }
